## <p style="text-align: center;"> MSAI339 - Data Science Project </p>

## <ins><p style="text-align: center;"> Bridging the Gap: Analyzing Pay Disparities Across Industries </p></ins>

## Team Members:

- **Sree Dhyuti Nimmagadda**
- **Ruchi Bommaraju**
- **Shruti Kalaskar**
- **Divyanka Thakur**

Pay parity is the concept that everyone within the same field should receive competitive compensation, regardless of factors such as **gender**, **ethnicity**, and other personal characteristics. 

As a cornerstone in the fight for **workplace equality**, pay parity is an essential focus and a topic of ongoing debate, as researchers and advocates continue to explore new ways of understanding why these compensation discrepancies still exist.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
from sklearn.preprocessing import LabelEncoder
from scipy import stats

# Set up Seaborn styling
sns.set(style="whitegrid")

## Understanding the *CurrentPopulationSurvey.csv* Dataset

This dataset, titled **CurrentPopulationSurvey.csv**, was collected by the **U.S. Census Bureau** in collaboration with the **Bureau of Labor Statistics (BLS)** and spans data from **1980 to 2010**. It includes responses gathered through oral inquiry from each family member across various households.

Despite containing a large number of columns (237), this breakdown should help clarify the dataset's structure:

### Column Overview

#### First 63 Columns: Transformed Values

These columns provide transformed or cleaned information on the following attributes:

- **Survey Information**: Year of the survey, household number, locational attributes.
- **Demographics**: Sex, age, race, and nativity.
- **Education**: Details on the individual's educational background.
- **Professional Details**: Employment-related information, working hours, land ownership.
- **Family and Marital Information**: Marital status, family role (head, spouse, child, etc.).
- **Data Quality**: Flags to indicate the quality or reliability of the data.

#### Next 63 Columns: Original Values

- These columns store the original, untransformed data and are prefixed with `o_` for each attribute listed above.

#### Columns 126-128 Onward: Additional Variables

- **Dummy Variables**: Represent categories that were intended for data collection but ultimately could not be fully gathered.
- **Transformed Variables**: Calculated values such as `wage^2`, `experience_years^2`, etc.

#### Final Columns: Flags

- These columns contain flags that specify **industry** and **location** information for each individual.

This breakdown provides an overview of how the data is structured and organized, making it easier to understand and analyze the contents of this comprehensive dataset.

In [2]:
# Load Dataset - Current Population Survey

data = pd.read_csv('/Users/shruti.kalaskar/Documents/Northwestern/Fall 2024/Data Science 339/EDA/CurrentPopulationSurvey.csv')
data

,year,serial,numprec,hwtsupp,gq,region,statefip,metro,metarea,county,...,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumadj_occ,LEHS
0,1990,9677,1,1052.650024,1,12,36,2.0,5607.0,NaN,...,0,0,0,1,0,0,0,0,1,1
1,2009,64923,4,971.200012,1,33,5,2.0,NaN,NaN,...,0,0,0,1,0,0,0,0,1,1
2,1990,8425,1,1622.280029,1,12,36,3.0,5607.0,NaN,...,0,0,0,0,0,0,0,0,1,1
3,1990,67963,1,2689.909912,1,42,6,3.0,7400.0,NaN,...,0,0,0,0,0,0,0,0,1,0
4,1981,38650,9,1911.900024,1,31,51,3.0,8840.0,NaN,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344282,1981,18574,2,970.179993,1,21,39,3.0,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
344283,1999,59820,7,1753.010010,1,42,6,3.0,7120.0,6053.0,...,0,0,0,0,0,0,0,0,1,1
344284,1981,58979,3,1971.020020,1,33,48,3.0,NaN,NaN,...,0,0,1,0,0,0,0,0,1,1
344285,2007,33540,2,715.510010,1,22,19,4.0,1960.0,19163.0,...,0,0,0,0,0,0,0,0,1,0
344286,2013,81314,3,820.739990,1,41,49,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,1

## Meta-data Information

In [3]:

metadata = {
    'Number of Rows': data.shape[0],
    'Number of Columns': data.shape[1],
    'Column Names': data.columns.tolist(),
    'Data Types': data.dtypes.to_dict(),
    'Memory Usage (bytes)': data.memory_usage(deep=True).sum(),
    'Missing Values': data.isnull().sum().to_dict(),  # Count of missing values per column
    'Unique Values': data.nunique().to_dict(),  # Count of unique values per column
    'Statistics': data.describe(include='all').to_dict(),  # Basic statistics for numeric and object types
    'First Few Rows': data.head().to_dict(orient='records'),  # Display the first few rows
    'Last Few Rows': data.tail().to_dict(orient='records'),  # Display the last few rows
}
    

for i in metadata:
    print(i, ":")
    print(metadata[i])
    print("\n\n")

Number of Rows :
344287



Number of Columns :
234



Column Names :
['year', 'serial', 'numprec', 'hwtsupp', 'gq', 'region', 'statefip', 'metro', 'metarea', 'county', 'farm', 'month', 'pernum', 'wtsupp', 'relate', 'age', 'sex', 'race', 'marst', 'popstat', 'bpl', 'yrimmig', 'citizen', 'mbpl', 'fbpl', 'nativity', 'hispan', 'sch', 'educ99', 'schlcoll', 'empstat', 'labforce', 'occ', 'occ1990', 'ind1990', 'occ1950', 'ind', 'ind1950', 'classwkr', 'occly', 'occ50ly', 'indly', 'ind50ly', 'classwly', 'wkswork1', 'wkswork2', 'hrswork', 'uhrswork', 'union', 'incwage', 'incbus', 'incfarm', 'inclongj', 'oincwage', 'srcearn', 'ftype', 'quhrswor', 'qwkswork', 'qincbus', 'qincfarm', 'qinclong', 'qincwage', 'qsrcearn', 'o_numprec', 'o_hwtsupp', 'o_gq', 'o_region', 'o_statefip', 'o_metro', 'o_metarea', 'o_county', 'o_farm', 'o_month', 'o_pernum', 'o_wtsupp', 'o_relate', 'o_age', 'o_sex', 'o_race', 'o_marst', 'o_popstat', 'o_bpl', 'o_yrimmig', 'o_citizen', 'o_mbpl', 'o_fbpl', 'o_nativity', 'o_hispan', 'o_educ', 'o_educ99', 'o_schlcoll', 'o_empstat', 'o_labforce', 'o_occ', 'o_occ1990', 'o_ind1990', 'o_occ1950', 'o_ind', 'o_ind1950', 'o_classwkr', 'o_occly', 'o_occ50ly', 'o_indly', 'o_ind50ly', 'o_classwly', 'o_wkswork1', 'o_wkswork2', 'o_hrswork', 'o_uhrswork', 'o_union', 'o_incwage', 'o_incbus', 'o_incfarm', 'o_inclongj', 'o_oincwage', 'o_srcearn', 'o_ftype', 'o_quhrswor', 'o_qwkswork', 'o_qincbus', 'o_qincfarm', 'o_qincwage', 'origrace', 'white', 'black', 'hisp', 'othrace', 'educorig', 'ba', 'adv', 'groupquar', 'potexp', 'potexp2', 'selfemp', 'military', 'employed', 'annhrs', 'ft', 'niincwage', 'incwageman', 'tcoincwage', 'tcinclongj', 'tcincwage', 'hrwage', 'perconexp', 'expendbase10', 'inflate', 'realhrwage', 'uncenrealhrwage', 'lnrwg', 'hdwfcoh', 'notalloc', 'basesamp', 'wagesamp', 'occ_orig', 'adj_occ', 'occ_2010_orig', 'ind_orig', 'adj_ind', 'ind_2002_orig', 'ind_2007_orig', 'occ_81', 'ind_81', 'occ_2000female', 'unmatched_fem_81', 'occ_2000male', 'unmatched_male_81', 'ind_2000', 'occ2000_81', 'ind2000_81', 'occ_1990', 'ind_1990', 'occ_1999', 'ind_1999', 'unmatched_occ_90', 'occ2000_90', 'unmatched_ind_90', 'ind2000_90', 'indname2000_90', 'unmatched_occ_99', 'occ2000_99', 'unmatched_ind_99', 'ind2000_99', 'indname2000_99', 'un_lnrealwg', 'northeast', 'northcentral', 'south', 'west', 'female', 'adj_ind2', 'adj_occ2', 'adj_occ2name', 'Agriculture', 'miningconstruction', 'durables', 'nondurables', 'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical', 'Education', 'professional', 'publicadmin', 'sumadj_ind', 'manager', 'business', 'financialop', 'computer', 'architect', 'scientist', 'socialworker', 'postseceduc', 'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'officeadmin', 'farmer', 'constructextractinstall', 'production', 'transport', 'sumadj_occ', 'LEHS']



Data Types :
{'year': dtype('int64'), 'serial': dtype('int64'), 'numprec': dtype('int64'), 'hwtsupp': dtype('float64'), 'gq': dtype('int64'), 'region': dtype('int64'), 'statefip': dtype('int64'), 'metro': dtype('float64'), 'metarea': dtype('float64'), 'county': dtype('float64'), 'farm': dtype('float64'), 'month': dtype('int64'), 'pernum': dtype('int64'), 'wtsupp': dtype('float64'), 'relate': dtype('int64'), 'age': dtype('int64'), 'sex': dtype('int64'), 'race': dtype('int64'), 'marst': dtype('int64'), 'popstat': dtype('int64'), 'bpl': dtype('float64'), 'yrimmig': dtype('float64'), 'citizen': dtype('float64'), 'mbpl': dtype('float64'), 'fbpl': dtype('float64'), 'nativity': dtype('float64'), 'hispan': dtype('float64'), 'sch': dtype('float64'), 'educ99': dtype('float64'), 'schlcoll': dtype('float64'), 'empstat': dtype('int64'), 'labforce': dtype('int64'), 'occ': dtype('int64'), 'occ1990': dtype('int64'), 'ind1990': dtype('float64'), 'occ1950': dtype('int64'), 'ind': dtype('int64'), 'ind1950': dtype('int64'), 'classwkr': dtype('int64'), 'occly': dtype('int64'), 'occ50ly': dtype('int64'), 'indly': dtype('int64'), 'ind50ly': dtype('float64'), 'classwly': dtype('int64'), 'wkswork1': dtype('int64'), 'wkswork2': dtype('int64'), 'hrswork': dtype('float64'), 'uhrswork': dtype('int64'), 'union': dtype('float64'), 'incwage': dtype('float64'), 'incbus': dtype('int64'), 'incfarm': dtype('int64'), 'inclongj': dtype('float64'), 'oincwage': dtype('float64'), 'srcearn': dtype('float64'), 'ftype': dtype('int64'), 'quhrswor': dtype('float64'), 'qwkswork': dtype('float64'), 'qincbus': dtype('int64'), 'qincfarm': dtype('int64'), 'qinclong': dtype('float64'), 'qincwage': dtype('int64'), 'qsrcearn': dtype('float64'), 'o_numprec': dtype('int64'), 'o_hwtsupp': dtype('float64'), 'o_gq': dtype('int64'), 'o_region': dtype('int64'), 'o_statefip': dtype('int64'), 'o_metro': dtype('int64'), 'o_metarea': dtype('int64'), 'o_county': dtype('float64'), 'o_farm': dtype('float64'), 'o_month': dtype('int64'), 'o_pernum': dtype('int64'), 'o_wtsupp': dtype('float64'), 'o_relate': dtype('int64'), 'o_age': dtype('int64'), 'o_sex': dtype('int64'), 'o_race': dtype('int64'), 'o_marst': dtype('int64'), 'o_popstat': dtype('int64'), 'o_bpl': dtype('float64'), 'o_yrimmig': dtype('float64'), 'o_citizen': dtype('float64'), 'o_mbpl': dtype('float64'), 'o_fbpl': dtype('float64'), 'o_nativity': dtype('float64'), 'o_hispan': dtype('int64'), 'o_educ': dtype('int64'), 'o_educ99': dtype('float64'), 'o_schlcoll': dtype('float64'), 'o_empstat': dtype('int64'), 'o_labforce': dtype('int64'), 'o_occ': dtype('int64'), 'o_occ1990': dtype('int64'), 'o_ind1990': dtype('int64'), 'o_occ1950': dtype('int64'), 'o_ind': dtype('int64'), 'o_ind1950': dtype('int64'), 'o_classwkr': dtype('int64'), 'o_occly': dtype('int64'), 'o_occ50ly': dtype('int64'), 'o_indly': dtype('int64'), 'o_ind50ly': dtype('int64'), 'o_classwly': dtype('int64'), 'o_wkswork1': dtype('int64'), 'o_wkswork2': dtype('int64'), 'o_hrswork': dtype('int64'), 'o_uhrswork': dtype('int64'), 'o_union': dtype('float64'), 'o_incwage': dtype('float64'), 'o_incbus': dtype('int64'), 'o_incfarm': dtype('int64'), 'o_inclongj': dtype('float64'), 'o_oincwage': dtype('float64'), 'o_srcearn': dtype('float64'), 'o_ftype': dtype('int64'), 'o_quhrswor': dtype('float64'), 'o_qwkswork': dtype('float64'), 'o_qincbus': dtype('int64'), 'o_qincfarm': dtype('int64'), 'o_qincwage': dtype('int64'), 'origrace': dtype('int64'), 'white': dtype('int64'), 'black': dtype('int64'), 'hisp': dtype('int64'), 'othrace': dtype('int64'), 'educorig': dtype('int64'), 'ba': dtype('int64'), 'adv': dtype('int64'), 'groupquar': dtype('int64'), 'potexp': dtype('int64'), 'potexp2': dtype('int64'), 'selfemp': dtype('int64'), 'military': dtype('int64'), 'employed': dtype('int64'), 'annhrs': dtype('int64'), 'ft': dtype('int64'), 'niincwage': dtype('float64'), 'incwageman': dtype('float64'), 'tcoincwage': dtype('float64'), 'tcinclongj': dtype('float64'), 'tcincwage': dtype('float64'), 'hrwage': dtype('float64'), 'perconexp': dtype('float64'), 'expendbase10': dtype('float64'), 'inflate': dtype('float64'), 'realhrwage': dtype('float64'), 'uncenrealhrwage': dtype('float64'), 'lnrwg': dtype('float64'), 'hdwfcoh': dtype('int64'), 'notalloc': dtype('int64'), 'basesamp': dtype('int64'), 'wagesamp': dtype('int64'), 'occ_orig': dtype('int64'), 'adj_occ': dtype('float64'), 'occ_2010_orig': dtype('float64'), 'ind_orig': dtype('int64'), 'adj_ind': dtype('int64'), 'ind_2002_orig': dtype('float64'), 'ind_2007_orig': dtype('float64'), 'occ_81': dtype('float64'), 'ind_81': dtype('float64'), 'occ_2000female': dtype('float64'), 'unmatched_fem_81': dtype('float64'), 'occ_2000male': dtype('float64'), 'unmatched_male_81': dtype('float64'), 'ind_2000': dtype('float64'), 'occ2000_81': dtype('float64'), 'ind2000_81': dtype('float64'), 'occ_1990': dtype('float64'), 'ind_1990': dtype('float64'), 'occ_1999': dtype('float64'), 'ind_1999': dtype('float64'), 'unmatched_occ_90': dtype('float64'), 'occ2000_90': dtype('float64'), 'unmatched_ind_90': dtype('float64'), 'ind2000_90': dtype('float64'), 'indname2000_90': dtype('O'), 'unmatched_occ_99': dtype('float64'), 'occ2000_99': dtype('float64'), 'unmatched_ind_99': dtype('float64'), 'ind2000_99': dtype('float64'), 'indname2000_99': dtype('O'), 'un_lnrealwg': dtype('float64'), 'northeast': dtype('int64'), 'northcentral': dtype('int64'), 'south': dtype('int64'), 'west': dtype('int64'), 'female': dtype('int64'), 'adj_ind2': dtype('int64'), 'adj_occ2': dtype('int64'), 'adj_occ2name': dtype('O'), 'Agriculture': dtype('int64'), 'miningconstruction': dtype('int64'), 'durables': dtype('int64'), 'nondurables': dtype('int64'), 'Transport': dtype('int64'), 'Utilities': dtype('int64'), 'Communications': dtype('int64'), 'retailtrade': dtype('int64'), 'wholesaletrade': dtype('int64'), 'finance': dtype('int64'), 'SocArtOther': dtype('int64'), 'hotelsrestaurants': dtype('int64'), 'Medical': dtype('int64'), 'Education': dtype('int64'), 'professional': dtype('int64'), 'publicadmin': dtype('int64'), 'sumadj_ind': dtype('int64'), 'manager': dtype('int64'), 'business': dtype('int64'), 'financialop': dtype('int64'), 'computer': dtype('int64'), 'architect': dtype('int64'), 'scientist': dtype('int64'), 'socialworker': dtype('int64'), 'postseceduc': dtype('int64'), 'legaleduc': dtype('int64'), 'artist': dtype('int64'), 'lawyerphysician': dtype('int64'), 'healthcare': dtype('int64'), 'healthsupport': dtype('int64'), 'protective': dtype('int64'), 'foodcare': dtype('int64'), 'building': dtype('int64'), 'sales': dtype('int64'), 'officeadmin': dtype('int64'), 'farmer': dtype('int64'), 'constructextractinstall': dtype('int64'), 'production': dtype('int64'), 'transport': dtype('int64'), 'sumadj_occ': dtype('int64'), 'LEHS': dtype('int64')}



Memory Usage (bytes) :
687590231



Missing Values :
{'year': 0, 'serial': 0, 'numprec': 0, 'hwtsupp': 0, 'gq': 0, 'region': 0, 'statefip': 0, 'metro': 9759, 'metarea': 103939, 'county': 235427, 'farm': 256875, 'month': 0, 'pernum': 0, 'wtsupp': 0, 'relate': 0, 'age': 0, 'sex': 0, 'race': 0, 'marst': 0, 'popstat': 0, 'bpl': 87681, 'yrimmig': 298083, 'citizen': 299748, 'mbpl': 87755, 'fbpl': 87756, 'nativity': 87824, 'hispan': 1397, 'sch': 0, 'educ99': 87412, 'schlcoll': 299686, 'empstat': 0, 'labforce': 0, 'occ': 0, 'occ1990': 0, 'ind1990': 181, 'occ1950': 0, 'ind': 0, 'ind1950': 0, 'classwkr': 0, 'occly': 0, 'occ50ly': 0, 'indly': 0, 'ind50ly': 65, 'classwly': 0, 'wkswork1': 0, 'wkswork2': 0, 'hrswork': 10555, 'uhrswork': 0, 'union': 42379, 'incwage': 0, 'incbus': 0, 'incfarm': 0, 'inclongj': 42379, 'oincwage': 42379, 'srcearn': 42379, 'ftype': 0, 'quhrswor': 42379, 'qwkswork': 42379, 'qincbus': 0, 'qincfarm': 0, 'qinclong': 42379, 'qincwage': 0, 'qsrcearn': 42379, 'o_numprec': 0, 'o_hwtsupp': 0, 'o_gq': 0, 'o_region': 0, 'o_statefip': 0, 'o_metro': 0, 'o_metarea': 0, 'o_county': 87412, 'o_farm': 256875, 'o_month': 0, 'o_pernum': 0, 'o_wtsupp': 0, 'o_relate': 0, 'o_age': 0, 'o_sex': 0, 'o_race': 0, 'o_marst': 0, 'o_popstat': 0, 'o_bpl': 87412, 'o_yrimmig': 87412, 'o_citizen': 87412, 'o_mbpl': 87412, 'o_fbpl': 87412, 'o_nativity': 87412, 'o_hispan': 0, 'o_educ': 0, 'o_educ99': 87412, 'o_schlcoll': 42379, 'o_empstat': 0, 'o_labforce': 0, 'o_occ': 0, 'o_occ1990': 0, 'o_ind1990': 0, 'o_occ1950': 0, 'o_ind': 0, 'o_ind1950': 0, 'o_classwkr': 0, 'o_occly': 0, 'o_occ50ly': 0, 'o_indly': 0, 'o_ind50ly': 0, 'o_classwly': 0, 'o_wkswork1': 0, 'o_wkswork2': 0, 'o_hrswork': 0, 'o_uhrswork': 0, 'o_union': 42379, 'o_incwage': 0, 'o_incbus': 0, 'o_incfarm': 0, 'o_inclongj': 42379, 'o_oincwage': 42379, 'o_srcearn': 42379, 'o_ftype': 0, 'o_quhrswor': 42379, 'o_qwkswork': 42379, 'o_qincbus': 0, 'o_qincfarm': 0, 'o_qincwage': 0, 'origrace': 0, 'white': 0, 'black': 0, 'hisp': 0, 'othrace': 0, 'educorig': 0, 'ba': 0, 'adv': 0, 'groupquar': 0, 'potexp': 0, 'potexp2': 0, 'selfemp': 0, 'military': 0, 'employed': 0, 'annhrs': 0, 'ft': 0, 'niincwage': 0, 'incwageman': 0, 'tcoincwage': 42379, 'tcinclongj': 42379, 'tcincwage': 0, 'hrwage': 0, 'perconexp': 0, 'expendbase10': 0, 'inflate': 0, 'realhrwage': 0, 'uncenrealhrwage': 0, 'lnrwg': 0, 'hdwfcoh': 0, 'notalloc': 0, 'basesamp': 0, 'wagesamp': 0, 'occ_orig': 0, 'adj_occ': 0, 'occ_2010_orig': 236640, 'ind_orig': 0, 'adj_ind': 0, 'ind_2002_orig': 287820, 'ind_2007_orig': 181023, 'occ_81': 301908, 'ind_81': 301908, 'occ_2000female': 301908, 'unmatched_fem_81': 344287, 'occ_2000male': 301908, 'unmatched_male_81': 344287, 'ind_2000': 301908, 'occ2000_81': 301908, 'ind2000_81': 301908, 'occ_1990': 299254, 'ind_1990': 299254, 'occ_1999': 307143, 'ind_1999': 307143, 'unmatched_occ_90': 344287, 'occ2000_90': 299254, 'unmatched_ind_90': 344287, 'ind2000_90': 299254, 'indname2000_90': 299254, 'unmatched_occ_99': 344287, 'occ2000_99': 307143, 'unmatched_ind_99': 344287, 'ind2000_99': 307143, 'indname2000_99': 307143, 'un_lnrealwg': 0, 'northeast': 0, 'northcentral': 0, 'south': 0, 'west': 0, 'female': 0, 'adj_ind2': 0, 'adj_occ2': 0, 'adj_occ2name': 0, 'Agriculture': 0, 'miningconstruction': 0, 'durables': 0, 'nondurables': 0, 'Transport': 0, 'Utilities': 0, 'Communications': 0, 'retailtrade': 0, 'wholesaletrade': 0, 'finance': 0, 'SocArtOther': 0, 'hotelsrestaurants': 0, 'Medical': 0, 'Education': 0, 'professional': 0, 'publicadmin': 0, 'sumadj_ind': 0, 'manager': 0, 'business': 0, 'financialop': 0, 'computer': 0, 'architect': 0, 'scientist': 0, 'socialworker': 0, 'postseceduc': 0, 'legaleduc': 0, 'artist': 0, 'lawyerphysician': 0, 'healthcare': 0, 'healthsupport': 0, 'protective': 0, 'foodcare': 0, 'building': 0, 'sales': 0, 'officeadmin': 0, 'farmer': 0, 'constructextractinstall': 0, 'production': 0, 'transport': 0, 'sumadj_occ': 0, 'LEHS': 0}



Unique Values :
{'year': 7, 'serial': 93318, 'numprec': 16, 'hwtsupp': 130742, 'gq': 1, 'region': 9, 'statefip': 51, 'metro': 4, 'metarea': 417, 'county': 329, 'farm': 2, 'month': 1, 'pernum': 15, 'wtsupp': 137083, 'relate': 14, 'age': 40, 'sex': 2, 'race': 4, 'marst': 6, 'popstat': 1, 'bpl': 169, 'yrimmig': 24, 'citizen': 3, 'mbpl': 170, 'fbpl': 173, 'nativity': 5, 'hispan': 2, 'sch': 20, 'educ99': 15, 'schlcoll': 5, 'empstat': 2, 'labforce': 1, 'occ': 1259, 'occ1990': 382, 'ind1990': 236, 'occ1950': 254, 'ind': 699, 'ind1950': 145, 'classwkr': 7, 'occly': 1261, 'occ50ly': 255, 'indly': 700, 'ind50ly': 144, 'classwly': 6, 'wkswork1': 52, 'wkswork2': 6, 'hrswork': 99, 'uhrswork': 99, 'union': 4, 'incwage': 21892, 'incbus': 1, 'incfarm': 1, 'inclongj': 15032, 'oincwage': 2964, 'srcearn': 2, 'ftype': 5, 'quhrswor': 2, 'qwkswork': 2, 'qincbus': 3, 'qincfarm': 2, 'qinclong': 1, 'qincwage': 1, 'qsrcearn': 1, 'o_numprec': 16, 'o_hwtsupp': 130742, 'o_gq': 1, 'o_region': 9, 'o_statefip': 51, 'o_metro': 5, 'o_metarea': 420, 'o_county': 330, 'o_farm': 2, 'o_month': 1, 'o_pernum': 15, 'o_wtsupp': 137083, 'o_relate': 14, 'o_age': 40, 'o_sex': 2, 'o_race': 25, 'o_marst': 6, 'o_popstat': 1, 'o_bpl': 170, 'o_yrimmig': 25, 'o_citizen': 4, 'o_mbpl': 171, 'o_fbpl': 174, 'o_nativity': 6, 'o_hispan': 12, 'o_educ': 31, 'o_educ99': 15, 'o_schlcoll': 6, 'o_empstat': 2, 'o_labforce': 1, 'o_occ': 1259, 'o_occ1990': 382, 'o_ind1990': 237, 'o_occ1950': 254, 'o_ind': 699, 'o_ind1950': 145, 'o_classwkr': 7, 'o_occly': 1261, 'o_occ50ly': 255, 'o_indly': 700, 'o_ind50ly': 145, 'o_classwly': 6, 'o_wkswork1': 52, 'o_wkswork2': 6, 'o_hrswork': 100, 'o_uhrswork': 99, 'o_union': 4, 'o_incwage': 21892, 'o_incbus': 1, 'o_incfarm': 1, 'o_inclongj': 15033, 'o_oincwage': 2964, 'o_srcearn': 2, 'o_ftype': 5, 'o_quhrswor': 2, 'o_qwkswork': 2, 'o_qincbus': 3, 'o_qincfarm': 2, 'o_qincwage': 1, 'origrace': 25, 'white': 2, 'black': 2, 'hisp': 2, 'othrace': 2, 'educorig': 31, 'ba': 2, 'adv': 2, 'groupquar': 1, 'potexp': 46, 'potexp2': 46, 'selfemp': 1, 'military': 1, 'employed': 1, 'annhrs': 1030, 'ft': 2, 'niincwage': 21892, 'incwageman': 21892, 'tcoincwage': 2876, 'tcinclongj': 14958, 'tcincwage': 21601, 'hrwage': 38665, 'perconexp': 7, 'expendbase10': 1, 'inflate': 7, 'realhrwage': 59565, 'uncenrealhrwage': 59565, 'lnrwg': 59491, 'hdwfcoh': 2, 'notalloc': 1, 'basesamp': 1, 'wagesamp': 2, 'occ_orig': 1259, 'adj_occ': 504, 'occ_2010_orig': 519, 'ind_orig': 699, 'adj_ind': 258, 'ind_2002_orig': 262, 'ind_2007_orig': 262, 'occ_81': 409, 'ind_81': 208, 'occ_2000female': 267, 'unmatched_fem_81': 0, 'occ_2000male': 277, 'unmatched_male_81': 0, 'ind_2000': 190, 'occ2000_81': 289, 'ind2000_81': 190, 'occ_1990': 483, 'ind_1990': 227, 'occ_1999': 480, 'ind_1999': 233, 'unmatched_occ_90': 0, 'occ2000_90': 366, 'unmatched_ind_90': 0, 'ind2000_90': 217, 'indname2000_90': 217, 'unmatched_occ_99': 0, 'occ2000_99': 366, 'unmatched_ind_99': 0, 'ind2000_99': 223, 'indname2000_99': 223, 'un_lnrealwg': 59491, 'northeast': 2, 'northcentral': 2, 'south': 2, 'west': 2, 'female': 2, 'adj_ind2': 16, 'adj_occ2': 22, 'adj_occ2name': 13, 'Agriculture': 2, 'miningconstruction': 2, 'durables': 2, 'nondurables': 2, 'Transport': 2, 'Utilities': 2, 'Communications': 2, 'retailtrade': 2, 'wholesaletrade': 2, 'finance': 2, 'SocArtOther': 2, 'hotelsrestaurants': 2, 'Medical': 2, 'Education': 2, 'professional': 2, 'publicadmin': 2, 'sumadj_ind': 1, 'manager': 2, 'business': 2, 'financialop': 2, 'computer': 2, 'architect': 2, 'scientist': 2, 'socialworker': 2, 'postseceduc': 2, 'legaleduc': 2, 'artist': 2, 'lawyerphysician': 2, 'healthcare': 2, 'healthsupport': 2, 'protective': 2, 'foodcare': 2, 'building': 2, 'sales': 2, 'officeadmin': 2, 'farmer': 2, 'constructextractinstall': 2, 'production': 2, 'transport': 2, 'sumadj_occ': 1, 'LEHS': 2}



Statistics :

## Data Preprocessing

* Remove extremely sparse columns altogether

In [4]:
# We have ~34000000 rows, we can set a threshold and remove columns with values less that that

threshold = 10000

# Function to count non-null values in a column
def count_not_null_vals_col(df, col_name):
    if col_name in df.columns:
        non_null_cnt = df[col_name].notnull().sum()
        return int(non_null_cnt)
    else:
        return ValueError(f"Column {col_name} not found in dataset.")
    

# Remove columns with values less than threshold
new_data = data.copy()
for col in data.columns:
    nonnull_num = count_not_null_vals_col(data, col)
    if (nonnull_num < threshold):
        print(f"Removing column {col} from dataset as it has only {nonnull_num} non-null values in dataset")
        new_data = new_data.drop(col, axis=1)

new_data

Removing column unmatched_fem_81 from dataset as it has only 0 non-null values in dataset
Removing column unmatched_male_81 from dataset as it has only 0 non-null values in dataset
Removing column unmatched_occ_90 from dataset as it has only 0 non-null values in dataset
Removing column unmatched_ind_90 from dataset as it has only 0 non-null values in dataset
Removing column unmatched_occ_99 from dataset as it has only 0 non-null values in dataset
Removing column unmatched_ind_99 from dataset as it has only 0 non-null values in dataset

,year,serial,numprec,hwtsupp,gq,region,statefip,metro,metarea,county,...,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumadj_occ,LEHS
0,1990,9677,1,1052.650024,1,12,36,2.0,5607.0,NaN,...,0,0,0,1,0,0,0,0,1,1
1,2009,64923,4,971.200012,1,33,5,2.0,NaN,NaN,...,0,0,0,1,0,0,0,0,1,1
2,1990,8425,1,1622.280029,1,12,36,3.0,5607.0,NaN,...,0,0,0,0,0,0,0,0,1,1
3,1990,67963,1,2689.909912,1,42,6,3.0,7400.0,NaN,...,0,0,0,0,0,0,0,0,1,0
4,1981,38650,9,1911.900024,1,31,51,3.0,8840.0,NaN,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344282,1981,18574,2,970.179993,1,21,39,3.0,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
344283,1999,59820,7,1753.010010,1,42,6,3.0,7120.0,6053.0,...,0,0,0,0,0,0,0,0,1,1
344284,1981,58979,3,1971.020020,1,33,48,3.0,NaN,NaN,...,0,0,1,0,0,0,0,0,1,1
344285,2007,33540,2,715.510010,1,22,19,4.0,1960.0,19163.0,...,0,0,0,0,0,0,0,0,1,0
344286,2013,81314,3,820.739990,1,41,49,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,1

In [5]:
irrelevant_cols_to_drop = ["serial", "gq", "month", "wtsupp", "popstat", 
                           "empstat", "labforce", "classwly", "incbus", 
                           "incfarm", "qincbus", "qincfarm", "qincwage", 
                           "o_gq", "o_month", "o_popstat", "o_labforce", 
                           "o_incbus", "o_incfarm", "o_qincwage", "groupquar", 
                           "selfemp", "military", "employed", "lnrwg", "notalloc", 
                           "basesamp", "female", "sumadj_ind", "sumadj_occ", 
                           "wkswork2", "numprec", "occ1950", "ind1950", "occ50ly", 
                           "ind50ly", "adj_occ", "adj_ind", "adj_ind2", "adj_occ2", 
                           "adj_occ2name", "potexp2", "o_race", 'bpl', 'mbpl', 'fbpl', 
                           'occ', 'occ1990', 'ind1990', 'ind', 'occly', 'indly', 'oincwage',
                            'ftype', 'quhrswor', 'qwkswork', 'quhrswor', 'qwkswork', 'qsrcearn',
                             'origrace', 'educorig', 'ft', 'niincwage', 'tcoincwage', 'tcinclongj',
                              'tcincwage', 'expendbase10', 'inflate', 'realhrwage', 'uncenrealhrwage',
                               'wagesamp', 'occ_orig', 'ind_orig', 'un_lnrealwg' ]

new_data = new_data.drop(irrelevant_cols_to_drop, axis=1)
print(len(irrelevant_cols_to_drop), " irrelevant columns are being dropped")

74  irrelevant columns are being dropped

As explained earlier, some of the columns in the dataset represent categories that can be combined into single columns for better clarity and analysis. Here’s a breakdown of these categories:

### Combined Columns

#### 1. Industry Columns
Instead of having multiple flags for each industry, we can consolidate them into one column:
- **Industry**: Agriculture, Mining, Construction, Durables, Nondurables, Transport, Utilities, Communications, Retail Trade, Wholesale Trade, Finance, SocArtOther, Hotels & Restaurants, Medical, Education, Professional, Public Administration.

#### 2. Regional Columns
- **Region**: Northeast, North Central, South, West.

#### 3. Occupation Columns
- **Occupation**: Manager, Business, Financial Operations, Computer, Architect, Scientist, Social Worker, Post-Secondary Education, Legal Education, Artist, Lawyer, Physician, Healthcare, Health Support, Protective Services, Food Care, Building, Sales, Office Administration, Farmer, Production, Transport, Construction, Extraction, Installation.

#### 4. Race Columns
- **Race**: White, Black, Other Race, Hispanic.

#### 5. Education Columns
- **Education**: High School, Other Education, Bachelor's, Advanced, Potential Experience, Less than High School.

#### 6. Personal Columns
- **Personal Details**: Household Support, Region, State FIPS Code, Metro Area, Person Number, Relationship, Age, Sex, Race, Marital Status, Family Type, Original Metro Area, Original Hispanic, Person Experience, Expenditure Base 10, Inflation, Household Cohort.

#### 7. Professional Meta Details
- **Professional Information**: Occupation, Occupation 1990, Industry 1990, Industry, Class Worker, Occupation Level, Industry Level, Weeks Worked, Hours Worked, Income Wage, Original Hours Worked, Full-Time Status, Total Income Wage, Hourly Wage, Real Hourly Wage, Wage Sample, Annual Hours.

* Club columns 

(Lucky for us, all the mentioned combinings are in a one-hot encoding format and can be clubbed easily)

In [6]:
# Region columns
region_columns = ['northeast','northcentral', 'south', 'west']

# Industry columns
industry_columns = ['Agriculture', 'miningconstruction', 'durables', 'nondurables', 
                    'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 
                    'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical','Education', 'professional', 'publicadmin']

# Occupation columns
occupation_columns = ['manager', 'business', 'financialop', 'computer', 
                      'architect', 'scientist', 'socialworker', 'postseceduc', 
                      'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 
                      'protective', 'foodcare', 'building', 'sales', 'officeadmin', 
                      'farmer', 'production', 'transport', 'constructextractinstall']

# Race columns
# All rows wehre hispan is nan the other columns have values so just replace nan with zero
race_columns = ['white', 'black', 'othrace', 'hispan']


# Education columns
education_columns = ["sch", "o_educ", "ba", "adv", "potexp", "LEHS"]


# # Personal columns
# personal_columns = ["hwtsupp", "region", "statefip", "metro", "pernum", 
#                     "relate", "age", "sex", "race", "marst", "ftype", 
#                     "o_metarea", "o_hispan", "perconexp", "expendbase10", "inflate", "hdwfcoh"]


# # Proffessional Meta Details
# professional_meta_dets_colums = ["occ", "occ1990", "ind1990", "ind", "classwkr", "occly", "indly", 
#                                  "wkswork1", "uhrswork", "incwage", "o_hrswork", "ft", "tcincwage", 
#                                  "hrwage", "realhrwage", "wagesamp", "annhrs"]


# Function to combine above list of columns to one column each
def combine_categorical_cols_to_one_col(df, list_of_cols):

    # encoding of the new_column for none
    none_enc = len(list_of_cols)
    vals = []
    for row in df.iterrows():
        exists = 0
        for col_name in list_of_cols:
            if(row[1][col_name] == 1):
                exists = 1
                vals.append(list_of_cols.index(col_name))
                break
        
        if (exists == 0):
            vals.append(none_enc)
    return vals



lists = [(region_columns, 'region'), (industry_columns, 'industry'), (occupation_columns, 'occupation'),
         (race_columns, 'race'), (education_columns, 'education')]


for lst in lists:
    list_of_cols = lst[0]
    lst_name = lst[1]

    # List with new encoded column values
    new_col = combine_categorical_cols_to_one_col(new_data, list_of_cols)

    # Drop extra columns
    new_data = new_data.drop(list_of_cols, axis=1)
    print(f'Dropped {len(list_of_cols)} columns from the category - {lst_name}  and added just one column with the same name')

    # Add the one combined-encoded column
    new_data[lst_name] = new_col

Dropped 4 columns from the category - region  and added just one column with the same name
Dropped 16 columns from the category - industry  and added just one column with the same name
Dropped 22 columns from the category - occupation  and added just one column with the same name
Dropped 4 columns from the category - race  and added just one column with the same name
Dropped 6 columns from the category - education  and added just one column with the same name

In [7]:
new_data.head()

,year,hwtsupp,region,statefip,metro,metarea,county,farm,pernum,relate,...,ind_1999,occ2000_90,ind2000_90,indname2000_90,occ2000_99,ind2000_99,indname2000_99,industry,occupation,education
0,1990,1052.650024,0,36,2.0,5607.0,NaN,1.0,1,101,...,NaN,526.0,837.0,Individual and family services,NaN,NaN,NaN,10,17,5
1,2009,971.200012,2,5,2.0,NaN,NaN,NaN,4,1260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,17,5
2,1990,1622.280029,0,36,3.0,5607.0,NaN,1.0,1,101,...,NaN,154.0,309.0,Commercial and service industry machinery manu...,NaN,NaN,NaN,2,4,5
3,1990,2689.909912,3,6,3.0,7400.0,NaN,1.0,1,101,...,NaN,102.0,738.0,Computer systems design and related services,NaN,NaN,NaN,14,3,3
4,1981,1911.900024,2,51,3.0,8840.0,NaN,1.0,1,101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,0,5

In [8]:
# Min no of non-null values
threshold = 20000

new_data = new_data.dropna(axis=1, thresh=threshold)

In [9]:
# Columns with NaN values
nan_count = new_data.isnull().sum()
nan_columns_with_count = nan_count[nan_count > 0]

print(f"No of columns with NaN values: {len(nan_columns_with_count)}\n\n")
print("\nColumns with NaN values and their counts")
print(nan_columns_with_count)

No of columns with NaN values: 50



Columns with NaN values and their counts
metro               9759
metarea           103939
county            235427
farm              256875
yrimmig           298083
citizen           299748
nativity           87824
educ99             87412
schlcoll          299686
hrswork            10555
union              42379
inclongj           42379
srcearn            42379
qinclong           42379
o_county           87412
o_farm            256875
o_bpl              87412
o_yrimmig          87412
o_citizen          87412
o_mbpl             87412
o_fbpl             87412
o_nativity         87412
o_educ99           87412
o_schlcoll         42379
o_union            42379
o_inclongj         42379
o_oincwage         42379
o_srcearn          42379
o_quhrswor         42379
o_qwkswork         42379
occ_2010_orig     236640
ind_2002_orig     287820
ind_2007_orig     181023
occ_81            301908
ind_81            301908
occ_2000female    301908
occ_2000male      301908
ind_2000          301908
occ2000_81        301908
ind2000_81        301908
occ_1990          299254
ind_1990          299254
occ_1999          307143
ind_1999          307143
occ2000_90        299254
ind2000_90        299254
indname2000_90    299254
occ2000_99        307143
ind2000_99        307143
indname2000_99    307143
dtype: int64

In [10]:
# Drop cols with more nan values (> 50%)

# Calculate the percentage of NaN values for each column
nan_percentage = new_data.isnull().mean() * 100

percentage = 50
# Identify columns to drop (more than 50% NaN)
columns_to_drop = nan_percentage[nan_percentage > percentage].index

# Drop columns with more than 50% NaN values
new_data = new_data.drop(columns=columns_to_drop)

In [11]:
# Remove all cols with prefix 'o_'ArithmeticError
new_data = new_data.drop(columns=new_data.filter(like='o_').columns)

In [12]:
for i in new_data.columns:
    print(i)

year
hwtsupp
region
statefip
metro
metarea
pernum
relate
age
sex
race
marst
nativity
educ99
classwkr
wkswork1
hrswork
uhrswork
union
incwage
inclongj
srcearn
qinclong
hisp
annhrs
incwageman
hrwage
perconexp
hdwfcoh
industry
occupation
education

In [13]:
new_data

,year,hwtsupp,region,statefip,metro,metarea,pernum,relate,age,sex,...,qinclong,hisp,annhrs,incwageman,hrwage,perconexp,hdwfcoh,industry,occupation,education
0,1990,1052.650024,0,36,2.0,5607.0,1,101,58,1,...,0.0,1,1820,14200.0,7.802198,64.639999,1,10,17,5
1,2009,971.200012,2,5,2.0,NaN,4,1260,28,1,...,0.0,0,2080,17680.0,8.500000,100.063004,0,11,17,5
2,1990,1622.280029,0,36,3.0,5607.0,1,101,37,1,...,0.0,0,2080,28000.0,13.461538,64.639999,1,2,4,5
3,1990,2689.909912,3,6,3.0,7400.0,1,101,34,1,...,0.0,0,2115,27500.0,13.002364,64.639999,1,14,3,3
4,1981,1911.900024,2,51,3.0,8840.0,1,101,38,1,...,NaN,0,2080,17000.0,8.173077,43.977001,1,14,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344282,1981,970.179993,1,39,3.0,NaN,2,1260,28,2,...,NaN,0,2340,17000.0,7.264957,43.977001,0,13,6,3
344283,1999,1753.010010,3,6,3.0,7120.0,4,301,27,2,...,0.0,0,360,3200.0,8.888889,79.933998,0,0,0,5
344284,1981,1971.020020,2,48,3.0,NaN,2,201,36,2,...,NaN,0,2080,13000.0,6.250000,43.977001,1,7,16,5
344285,2007,715.510010,1,19,4.0,1960.0,2,201,49,2,...,0.0,0,250,8800.0,35.200001,94.727997,1,14,9,3
344286,2013,820.739990,3,49,NaN,NaN,2,201,36,2,...,0.0,0,1248,15000.0,12.019231,106.009003,1,7,16,5

# EDA

In [14]:
new_data.to_csv('processed_dataset.csv', index=False)
new_data = pd.read_csv('/Users/shruti.kalaskar/Documents/Northwestern/Fall 2024/Data Science 339/EDA/processed_dataset.csv')
new_data.head()

,year,hwtsupp,region,statefip,metro,metarea,pernum,relate,age,sex,...,qinclong,hisp,annhrs,incwageman,hrwage,perconexp,hdwfcoh,industry,occupation,education
0,1990,1052.650024,0,36,2.0,5607.0,1,101,58,1,...,0.0,1,1820,14200.0,7.802198,64.639999,1,10,17,5
1,2009,971.200012,2,5,2.0,NaN,4,1260,28,1,...,0.0,0,2080,17680.0,8.500000,100.063004,0,11,17,5
2,1990,1622.280029,0,36,3.0,5607.0,1,101,37,1,...,0.0,0,2080,28000.0,13.461538,64.639999,1,2,4,5
3,1990,2689.909912,3,6,3.0,7400.0,1,101,34,1,...,0.0,0,2115,27500.0,13.002364,64.639999,1,14,3,3
4,1981,1911.900024,2,51,3.0,8840.0,1,101,38,1,...,NaN,0,2080,17000.0,8.173077,43.977001,1,14,0,5

In [15]:
nan_count = new_data.isnull().sum()
nan_columns_with_count = nan_count[nan_count > 0]

print(f"No of columns with NaN values: {len(nan_columns_with_count)}\n\n")
print("\nColumns with NaN values and their counts")
print(nan_columns_with_count)

No of columns with NaN values: 9



Columns with NaN values and their counts
metro         9759
metarea     103939
nativity     87824
educ99       87412
hrswork      10555
union        42379
inclongj     42379
srcearn      42379
qinclong     42379
dtype: int64

In [16]:
new_data.columns

Index(['year', 'hwtsupp', 'region', 'statefip', 'metro', 'metarea', 'pernum',
       'relate', 'age', 'sex', 'race', 'marst', 'nativity', 'educ99',
       'classwkr', 'wkswork1', 'hrswork', 'uhrswork', 'union', 'incwage',
       'inclongj', 'srcearn', 'qinclong', 'hisp', 'annhrs', 'incwageman',
       'hrwage', 'perconexp', 'hdwfcoh', 'industry', 'occupation',
       'education'],
      dtype='object')

In [17]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Create an IterativeImputer instance
imputer = IterativeImputer(max_iter=10, random_state=0)

# Fit and transform the data to perform multiple imputation
new_data[['hwtsupp']] = imputer.fit_transform(new_data[['hwtsupp']])

print(new_data[['hwtsupp']])

            hwtsupp
0       1052.650024
1        971.200012
2       1622.280029
3       2689.909912
4       1911.900024
...             ...
344282   970.179993
344283  1753.010010
344284  1971.020020
344285   715.510010
344286   820.739990

[344287 rows x 1 columns]

In [18]:
new_data['region'] = new_data['region'].fillna(new_data['region'].mode()[0])
print(new_data['region'])
missing_values = new_data['region'].isna()
print("Total missing values in 'region':", missing_values.sum())

# Print the rows with missing values
print("\nRows with missing values in 'region':")
print(new_data[missing_values])

0         0
1         2
2         0
3         3
4         2
         ..
344282    1
344283    3
344284    2
344285    1
344286    3
Name: region, Length: 344287, dtype: int64
Total missing values in 'region': 0

Rows with missing values in 'region':
Empty DataFrame
Columns: [year, hwtsupp, region, statefip, metro, metarea, pernum, relate, age, sex, race, marst, nativity, educ99, classwkr, wkswork1, hrswork, uhrswork, union, incwage, inclongj, srcearn, qinclong, hisp, annhrs, incwageman, hrwage, perconexp, hdwfcoh, industry, occupation, education]
Index: []

[0 rows x 32 columns]

In [19]:
imputed_data = new_data.copy()
imputed_data.to_csv('imputed_data.csv', index=False)

In [20]:
imputed_data.head()

,year,hwtsupp,region,statefip,metro,metarea,pernum,relate,age,sex,...,qinclong,hisp,annhrs,incwageman,hrwage,perconexp,hdwfcoh,industry,occupation,education
0,1990,1052.650024,0,36,2.0,5607.0,1,101,58,1,...,0.0,1,1820,14200.0,7.802198,64.639999,1,10,17,5
1,2009,971.200012,2,5,2.0,NaN,4,1260,28,1,...,0.0,0,2080,17680.0,8.500000,100.063004,0,11,17,5
2,1990,1622.280029,0,36,3.0,5607.0,1,101,37,1,...,0.0,0,2080,28000.0,13.461538,64.639999,1,2,4,5
3,1990,2689.909912,3,6,3.0,7400.0,1,101,34,1,...,0.0,0,2115,27500.0,13.002364,64.639999,1,14,3,3
4,1981,1911.900024,2,51,3.0,8840.0,1,101,38,1,...,NaN,0,2080,17000.0,8.173077,43.977001,1,14,0,5

In [21]:
nan_count = imputed_data.isnull().sum()
nan_columns_with_count = nan_count[nan_count > 0]

print(f"No of columns with NaN values: {len(nan_columns_with_count)}\n\n")
print("\nColumns with NaN values and their counts")
print(nan_columns_with_count)

No of columns with NaN values: 9



Columns with NaN values and their counts
metro         9759
metarea     103939
nativity     87824
educ99       87412
hrswork      10555
union        42379
inclongj     42379
srcearn      42379
qinclong     42379
dtype: int64

In [22]:
imputed_data = imputed_data.drop(columns=['metarea'], inplace=True)

In [23]:
imputed_data = pd.DataFrame(new_data)

# Drop the 'metarea' column
imputed_data = imputed_data.drop(columns=['metarea'])

# Print the updated imputed_data
print(imputed_data)

        year      hwtsupp  region  statefip  metro  pernum  relate  age  sex  \
0       1990  1052.650024       0        36    2.0       1     101   58    1
1       2009   971.200012       2         5    2.0       4    1260   28    1
2       1990  1622.280029       0        36    3.0       1     101   37    1
3       1990  2689.909912       3         6    3.0       1     101   34    1
4       1981  1911.900024       2        51    3.0       1     101   38    1
...      ...          ...     ...       ...    ...     ...     ...  ...  ...
344282  1981   970.179993       1        39    3.0       2    1260   28    2
344283  1999  1753.010010       3         6    3.0       4     301   27    2
344284  1981  1971.020020       2        48    3.0       2     201   36    2
344285  2007   715.510010       1        19    4.0       2     201   49    2
344286  2013   820.739990       3        49    NaN       2     201   36    2

        race  ...  qinclong  hisp  annhrs  incwageman     hrwage   perconexp  \
0          3  ...       0.0     1    1820     14200.0   7.802198   64.639999
1          0  ...       0.0     0    2080     17680.0   8.500000  100.063004
2          0  ...       0.0     0    2080     28000.0  13.461538   64.639999
3          0  ...       0.0     0    2115     27500.0  13.002364   64.639999
4          2  ...       NaN     0    2080     17000.0   8.173077   43.977001
...      ...  ...       ...   ...     ...         ...        ...         ...
344282     0  ...       NaN     0    2340     17000.0   7.264957   43.977001
344283     0  ...       0.0     0     360      3200.0   8.888889   79.933998
344284     0  ...       NaN     0    2080     13000.0   6.250000   43.977001
344285     2  ...       0.0     0     250      8800.0  35.200001   94.727997
344286     0  ...       0.0     0    1248     15000.0  12.019231  106.009003

        hdwfcoh  industry  occupation  education
0             1        10          17          5
1             0        11          17          5
2             1         2           4          5
3             1        14           3          3
4             1        14           0          5
...         ...       ...         ...        ...
344282        0        13           6          3
344283        0         0           0          5
344284        1         7          16          5
344285        1        14           9          3
344286        1         7          16          5

[344287 rows x 31 columns]

In [24]:
imputed_data['metro'].fillna(imputed_data['metro'].mode()[0], inplace=True)  # Mode for metro
imputed_data['nativity'].fillna(imputed_data['nativity'].mode()[0], inplace=True)  # Mode for nativity
imputed_data['educ99'].fillna(imputed_data['educ99'].mode()[0], inplace=True)  # Mode for educ99
imputed_data['hrswork'].fillna(imputed_data['hrswork'].median(), inplace=True)  # Median for hrswork
imputed_data['union'].fillna(imputed_data['union'].mode()[0], inplace=True)  # Mode for union
imputed_data['inclongj'].fillna(imputed_data['inclongj'].median(), inplace=True)  # Median for inclongj
imputed_data['srcearn'].fillna(imputed_data['srcearn'].mode()[0], inplace=True)  # Mode for srcearn
imputed_data = imputed_data.drop(columns=['qinclong'])

# Print the updated imputed_data
print("Imputed DataFrame:")
print(imputed_data)

Imputed DataFrame:
        year      hwtsupp  region  statefip  metro  pernum  relate  age  sex  \
0       1990  1052.650024       0        36    2.0       1     101   58    1
1       2009   971.200012       2         5    2.0       4    1260   28    1
2       1990  1622.280029       0        36    3.0       1     101   37    1
3       1990  2689.909912       3         6    3.0       1     101   34    1
4       1981  1911.900024       2        51    3.0       1     101   38    1
...      ...          ...     ...       ...    ...     ...     ...  ...  ...
344282  1981   970.179993       1        39    3.0       2    1260   28    2
344283  1999  1753.010010       3         6    3.0       4     301   27    2
344284  1981  1971.020020       2        48    3.0       2     201   36    2
344285  2007   715.510010       1        19    4.0       2     201   49    2
344286  2013   820.739990       3        49    3.0       2     201   36    2

        race  ...  srcearn  hisp  annhrs  incwageman     hrwage   perconexp  \
0          3  ...      1.0     1    1820     14200.0   7.802198   64.639999
1          0  ...      1.0     0    2080     17680.0   8.500000  100.063004
2          0  ...      1.0     0    2080     28000.0  13.461538   64.639999
3          0  ...      1.0     0    2115     27500.0  13.002364   64.639999
4          2  ...      1.0     0    2080     17000.0   8.173077   43.977001
...      ...  ...      ...   ...     ...         ...        ...         ...
344282     0  ...      1.0     0    2340     17000.0   7.264957   43.977001
344283     0  ...      1.0     0     360      3200.0   8.888889   79.933998
344284     0  ...      1.0     0    2080     13000.0   6.250000   43.977001
344285     2  ...      1.0     0     250      8800.0  35.200001   94.727997
344286     0  ...      1.0     0    1248     15000.0  12.019231  106.009003

        hdwfcoh  industry  occupation  education
0             1        10          17          5
1             0        11          17          5
2             1         2           4          5
3             1        14           3          3
4             1        14           0          5
...         ...       ...         ...        ...
344282        0        13           6          3
344283        0         0           0          5
344284        1         7          16          5
344285        1        14           9          3
344286        1         7          16          5

[344287 rows x 30 columns]

/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['metro'].fillna(imputed_data['metro'].mode()[0], inplace=True)  # Mode for metro
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['nativity'].fillna(imputed_data['nativity'].mode()[0], inplace=True)  # Mode for nativity
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['educ99'].fillna(imputed_data['educ99'].mode()[0], inplace=True)  # Mode for educ99
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['hrswork'].fillna(imputed_data['hrswork'].median(), inplace=True)  # Median for hrswork
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['union'].fillna(imputed_data['union'].mode()[0], inplace=True)  # Mode for union
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['inclongj'].fillna(imputed_data['inclongj'].median(), inplace=True)  # Median for inclongj
/var/folders/zz/y2_h9x0s2378k58hfr7vvwmh0000gn/T/ipykernel_92756/3788765836.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imputed_data['srcearn'].fillna(imputed_data['srcearn'].mode()[0], inplace=True)  # Mode for srcearn

In [25]:
nan_count = imputed_data.isnull().sum()
nan_columns_with_count = nan_count[nan_count > 0]

print(f"No of columns with NaN values: {len(nan_columns_with_count)}\n\n")
print("\nColumns with NaN values and their counts")
print(nan_columns_with_count)

No of columns with NaN values: 0



Columns with NaN values and their counts
Series([], dtype: int64)

In [26]:
imputed_data.head()

,year,hwtsupp,region,statefip,metro,pernum,relate,age,sex,race,...,srcearn,hisp,annhrs,incwageman,hrwage,perconexp,hdwfcoh,industry,occupation,education
0,1990,1052.650024,0,36,2.0,1,101,58,1,3,...,1.0,1,1820,14200.0,7.802198,64.639999,1,10,17,5
1,2009,971.200012,2,5,2.0,4,1260,28,1,0,...,1.0,0,2080,17680.0,8.500000,100.063004,0,11,17,5
2,1990,1622.280029,0,36,3.0,1,101,37,1,0,...,1.0,0,2080,28000.0,13.461538,64.639999,1,2,4,5
3,1990,2689.909912,3,6,3.0,1,101,34,1,0,...,1.0,0,2115,27500.0,13.002364,64.639999,1,14,3,3
4,1981,1911.900024,2,51,3.0,1,101,38,1,2,...,1.0,0,2080,17000.0,8.173077,43.977001,1,14,0,5

In [27]:
import pandas as pd
import scipy.stats as stats
import numpy as np

#### Hypothesis Testing

In [28]:
imputed_data.columns

Index(['year', 'hwtsupp', 'region', 'statefip', 'metro', 'pernum', 'relate',
       'age', 'sex', 'race', 'marst', 'nativity', 'educ99', 'classwkr',
       'wkswork1', 'hrswork', 'uhrswork', 'union', 'incwage', 'inclongj',
       'srcearn', 'hisp', 'annhrs', 'incwageman', 'hrwage', 'perconexp',
       'hdwfcoh', 'industry', 'occupation', 'education'],
      dtype='object')

In [29]:
#Categorize columns as numerical or categorical.

# Numerical columns
numerical_cols = [
    "year", "hwtsupp", "age", "wkswork1", "hrswork", "uhrswork", "incwage", 
    "inclongj", "annhrs", "incwageman", "hrwage", "perconexp"
]

# Categorical columns
categorical_cols = [
    "region", "statefip", "metro", "pernum", "relate", "sex", "race", 
    "marst", "nativity", "educ99", "classwkr", "union", "srcearn", 
    "hisp", "hdwfcoh", "industry", "occupation", "education"
]

In [30]:
# Pearson Correlation for Numerical vs. Numerical

def numerical_vs_numerical(imputed_data, numerical_cols):
    print("Numerical vs. Numerical Hypothesis Testing:\n")
    for i in range(len(numerical_cols)):
        for j in range(i + 1, len(numerical_cols)):
            col1, col2 = numerical_cols[i], numerical_cols[j]
            data = imputed_data[[col1, col2]].dropna()
            if len(data) > 1:  # Ensure there's enough data to perform correlation
                corr, p_value = stats.pearsonr(data[col1], data[col2])
                print(f"Pearson Correlation between {col1} and {col2}:")
                print(f"  Correlation: {corr:.4f}, P-value: {p_value:.4e}\n")

In [31]:
# T-Test or ANOVA for Categorical vs. Numerical
def categorical_vs_numerical(imputed_data, categorical_cols, numerical_cols):
    print("Categorical vs. Numerical Hypothesis Testing:\n")
    for cat_col in categorical_cols:
        for num_col in numerical_cols:
            unique_values = imputed_data[cat_col].nunique()
            if unique_values == 2:  # Perform T-test for binary categories
                groups = [group[num_col].dropna() for _, group in imputed_data.groupby(cat_col)]
                t_stat, p_value = stats.ttest_ind(groups[0], groups[1])
                print(f"T-test between {cat_col} groups for {num_col}:")
                print(f"  T-statistic: {t_stat:.4f}, P-value: {p_value:.4e}\n")
            elif unique_values > 2:  # Perform ANOVA for multiple categories
                groups = [group[num_col].dropna() for _, group in imputed_data.groupby(cat_col)]
                f_stat, p_value = stats.f_oneway(*groups)
                print(f"ANOVA between {cat_col} groups for {num_col}:")
                print(f"  F-statistic: {f_stat:.4f}, P-value: {p_value:.4e}\n")

In [32]:
# Chi-Square Test for Categorical vs. Categorical
def categorical_vs_categorical(imputed_data, categorical_cols):
    print("Categorical vs. Categorical Hypothesis Testing:\n")
    for i in range(len(categorical_cols)):
        for j in range(i + 1, len(categorical_cols)):
            col1, col2 = categorical_cols[i], categorical_cols[j]
            contingency_table = pd.crosstab(imputed_data[col1], imputed_data[col2])
            if contingency_table.size > 0:
                chi2_stat, p_value, dof, _ = stats.chi2_contingency(contingency_table)
                print(f"Chi-square test between {col1} and {col2}:")
                print(f"  Chi-square Statistic: {chi2_stat:.4f}, P-value: {p_value:.4e}, Degrees of freedom: {dof}\n")

In [33]:
numerical_vs_numerical(imputed_data, numerical_cols)

Numerical vs. Numerical Hypothesis Testing:

Pearson Correlation between year and hwtsupp:
  Correlation: 0.0185, P-value: 2.4986e-27

Pearson Correlation between year and age:
  Correlation: 0.1108, P-value: 0.0000e+00

Pearson Correlation between year and wkswork1:
  Correlation: 0.0618, P-value: 1.3169e-288

Pearson Correlation between year and hrswork:
  Correlation: -0.0093, P-value: 4.4455e-08

Pearson Correlation between year and uhrswork:
  Correlation: 0.0142, P-value: 9.0247e-17

Pearson Correlation between year and incwage:
  Correlation: 0.2810, P-value: 0.0000e+00

Pearson Correlation between year and inclongj:
  Correlation: 0.1896, P-value: 0.0000e+00

Pearson Correlation between year and annhrs:
  Correlation: 0.0417, P-value: 2.2591e-132

Pearson Correlation between year and incwageman:
  Correlation: 0.2810, P-value: 0.0000e+00

Pearson Correlation between year and hrwage:
  Correlation: 0.0130, P-value: 2.3851e-14

Pearson Correlation between year and perconexp:
  Correlation: 0.9985, P-value: 0.0000e+00

Pearson Correlation between hwtsupp and age:
  Correlation: 0.0296, P-value: 1.9833e-67

Pearson Correlation between hwtsupp and wkswork1:
  Correlation: 0.0101, P-value: 3.1352e-09

Pearson Correlation between hwtsupp and hrswork:
  Correlation: 0.0193, P-value: 1.3232e-29

Pearson Correlation between hwtsupp and uhrswork:
  Correlation: 0.0162, P-value: 1.5278e-21

Pearson Correlation between hwtsupp and incwage:
  Correlation: 0.0204, P-value: 6.3016e-33

Pearson Correlation between hwtsupp and inclongj:
  Correlation: 0.0061, P-value: 3.4678e-04

Pearson Correlation between hwtsupp and annhrs:
  Correlation: 0.0181, P-value: 3.1845e-26

Pearson Correlation between hwtsupp and incwageman:
  Correlation: 0.0204, P-value: 6.3016e-33

Pearson Correlation between hwtsupp and hrwage:
  Correlation: 0.0041, P-value: 1.5475e-02

Pearson Correlation between hwtsupp and perconexp:
  Correlation: 0.0219, P-value: 1.0772e-37

Pearson Correlation between age and wkswork1:
  Correlation: 0.0604, P-value: 2.9626e-275

Pearson Correlation between age and hrswork:
  Correlation: -0.0089, P-value: 1.6562e-07

Pearson Correlation between age and uhrswork:
  Correlation: -0.0027, P-value: 1.1689e-01

Pearson Correlation between age and incwage:
  Correlation: 0.1221, P-value: 0.0000e+00

Pearson Correlation between age and inclongj:
  Correlation: 0.1174, P-value: 0.0000e+00

Pearson Correlation between age and annhrs:
  Correlation: 0.0288, P-value: 6.7315e-64

Pearson Correlation between age and incwageman:
  Correlation: 0.1221, P-value: 0.0000e+00

Pearson Correlation between age and hrwage:
  Correlation: 0.0059, P-value: 5.3250e-04

Pearson Correlation between age and perconexp:
  Correlation: 0.1094, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and hrswork:
  Correlation: 0.1950, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and uhrswork:
  Correlation: 0.2267, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and incwage:
  Correlation: 0.1909, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and inclongj:
  Correlation: 0.1770, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and annhrs:
  Correlation: 0.6383, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and incwageman:
  Correlation: 0.1909, P-value: 0.0000e+00

Pearson Correlation between wkswork1 and hrwage:
  Correlation: -0.0110, P-value: 9.6278e-11

Pearson Correlation between wkswork1 and perconexp:
  Correlation: 0.0625, P-value: 3.3855e-295

Pearson Correlation between hrswork and uhrswork:
  Correlation: 0.6563, P-value: 0.0000e+00

Pearson Correlation between hrswork and incwage:
  Correlation: 0.2402, P-value: 0.0000e+00

Pearson Correlation between hrswork and inclongj:
  Correlation: 0.2272, P-value: 0.0000e+00

Pearson Correlation between hrswork and annhrs:
  Correlation: 0.6061, P-value: 0.0000e+00

Pearson Correlation between hrswork and incwageman:
  Correlation: 0.2402, P-value: 0.0000e+00

Pearson Correlation between hrswork and hrwage:
  Correlation: 0.0046, P-value: 7.0953e-03

Pearson Correlation between hrswork and perconexp:
  Correlation: -0.0088, P-value: 2.7896e-07

Pearson Correlation between uhrswork and incwage:
  Correlation: 0.3028, P-value: 0.0000e+00

Pearson Correlation between uhrswork and inclongj:
  Correlation: 0.2874, P-value: 0.0000e+00

Pearson Correlation between uhrswork and annhrs:
  Correlation: 0.8737, P-value: 0.0000e+00

Pearson Correlation between uhrswork and incwageman:
  Correlation: 0.3028, P-value: 0.0000e+00

Pearson Correlation between uhrswork and hrwage:
  Correlation: -0.0061, P-value: 3.5576e-04

Pearson Correlation between uhrswork and perconexp:
  Correlation: 0.0147, P-value: 5.1835e-18

Pearson Correlation between incwage and inclongj:
  Correlation: 0.9812, P-value: 0.0000e+00

Pearson Correlation between incwage and annhrs:
  Correlation: 0.3366, P-value: 0.0000e+00

Pearson Correlation between incwage and incwageman:
  Correlation: 1.0000, P-value: 0.0000e+00

Pearson Correlation between incwage and hrwage:
  Correlation: 0.0432, P-value: 1.4739e-141

Pearson Correlation between incwage and perconexp:
  Correlation: 0.2806, P-value: 0.0000e+00

Pearson Correlation between inclongj and annhrs:
  Correlation: 0.3179, P-value: 0.0000e+00

Pearson Correlation between inclongj and incwageman:
  Correlation: 0.9812, P-value: 0.0000e+00

Pearson Correlation between inclongj and hrwage:
  Correlation: 0.0426, P-value: 2.4450e-138

Pearson Correlation between inclongj and perconexp:
  Correlation: 0.1855, P-value: 0.0000e+00

Pearson Correlation between annhrs and incwageman:
  Correlation: 0.3366, P-value: 0.0000e+00

Pearson Correlation between annhrs and hrwage:
  Correlation: -0.0046, P-value: 7.3970e-03

Pearson Correlation between annhrs and perconexp:
  Correlation: 0.0425, P-value: 2.0281e-137

Pearson Correlation between incwageman and hrwage:
  Correlation: 0.0432, P-value: 1.4739e-141

Pearson Correlation between incwageman and perconexp:
  Correlation: 0.2806, P-value: 0.0000e+00

Pearson Correlation between hrwage and perconexp:
  Correlation: 0.0131, P-value: 1.6797e-14

In [34]:
categorical_vs_numerical(new_data, categorical_cols, numerical_cols)

Categorical vs. Numerical Hypothesis Testing:

ANOVA between region groups for year:
  F-statistic: 56.5653, P-value: 1.5112e-36

ANOVA between region groups for hwtsupp:
  F-statistic: 4351.8709, P-value: 0.0000e+00

ANOVA between region groups for age:
  F-statistic: 168.2893, P-value: 5.0549e-109

ANOVA between region groups for wkswork1:
  F-statistic: 69.5053, P-value: 6.2880e-45

ANOVA between region groups for hrswork:
  F-statistic: 93.3492, P-value: 2.1922e-60

ANOVA between region groups for uhrswork:
  F-statistic: 135.6857, P-value: 7.3866e-88

ANOVA between region groups for incwage:
  F-statistic: 207.6661, P-value: 1.3785e-134

ANOVA between region groups for inclongj:
  F-statistic: 212.3599, P-value: 1.2879e-137

ANOVA between region groups for annhrs:
  F-statistic: 120.7724, P-value: 3.5291e-78

ANOVA between region groups for incwageman:
  F-statistic: 207.6661, P-value: 1.3785e-134

ANOVA between region groups for hrwage:
  F-statistic: 0.4104, P-value: 7.4552e-01

ANOVA between region groups for perconexp:
  F-statistic: 48.9717, P-value: 1.2384e-31

ANOVA between statefip groups for year:
  F-statistic: 143.1286, P-value: 0.0000e+00

ANOVA between statefip groups for hwtsupp:
  F-statistic: 7227.2905, P-value: 0.0000e+00

ANOVA between statefip groups for age:
  F-statistic: 25.0284, P-value: 1.1244e-228

ANOVA between statefip groups for wkswork1:
  F-statistic: 11.7981, P-value: 3.2705e-93

ANOVA between statefip groups for hrswork:
  F-statistic: 13.4700, P-value: 5.9331e-110

ANOVA between statefip groups for uhrswork:
  F-statistic: 21.4724, P-value: 8.7247e-192

ANOVA between statefip groups for incwage:
  F-statistic: 109.5543, P-value: 0.0000e+00

ANOVA between statefip groups for inclongj:
  F-statistic: 96.2019, P-value: 0.0000e+00

ANOVA between statefip groups for annhrs:
  F-statistic: 18.2186, P-value: 2.9002e-158

ANOVA between statefip groups for incwageman:
  F-statistic: 109.5543, P-value: 0.0000e+00

ANOVA between statefip groups for hrwage:
  F-statistic: 1.1520, P-value: 2.1460e-01

ANOVA between statefip groups for perconexp:
  F-statistic: 135.7735, P-value: 0.0000e+00

ANOVA between metro groups for year:
  F-statistic: 1647.6056, P-value: 0.0000e+00

ANOVA between metro groups for hwtsupp:
  F-statistic: 7014.7368, P-value: 0.0000e+00

ANOVA between metro groups for age:
  F-statistic: 331.7776, P-value: 3.8710e-215

ANOVA between metro groups for wkswork1:
  F-statistic: 97.2926, P-value: 6.0671e-63

ANOVA between metro groups for hrswork:
  F-statistic: 18.6536, P-value: 4.2924e-12

ANOVA between metro groups for uhrswork:
  F-statistic: 7.9609, P-value: 2.6440e-05

ANOVA between metro groups for incwage:
  F-statistic: 1628.8456, P-value: 0.0000e+00

ANOVA between metro groups for inclongj:
  F-statistic: 1302.5945, P-value: 0.0000e+00

ANOVA between metro groups for annhrs:
  F-statistic: 53.5184, P-value: 1.4176e-34

ANOVA between metro groups for incwageman:
  F-statistic: 1628.8456, P-value: 0.0000e+00

ANOVA between metro groups for hrwage:
  F-statistic: 4.6478, P-value: 2.9836e-03

ANOVA between metro groups for perconexp:
  F-statistic: 1742.0754, P-value: 0.0000e+00

ANOVA between pernum groups for year:
  F-statistic: 93.7241, P-value: 4.4999e-271

ANOVA between pernum groups for hwtsupp:
  F-statistic: 21.6013, P-value: 3.9335e-56

ANOVA between pernum groups for age:
  F-statistic: 538.9527, P-value: 0.0000e+00

ANOVA between pernum groups for wkswork1:
  F-statistic: 100.7363, P-value: 4.0420e-292

ANOVA between pernum groups for hrswork:
  F-statistic: 252.3367, P-value: 0.0000e+00

ANOVA between pernum groups for uhrswork:
  F-statistic: 331.7485, P-value: 0.0000e+00

ANOVA between pernum groups for incwage:
  F-statistic: 162.9349, P-value: 0.0000e+00

ANOVA between pernum groups for inclongj:
  F-statistic: 173.1508, P-value: 0.0000e+00

ANOVA between pernum groups for annhrs:
  F-statistic: 352.0567, P-value: 0.0000e+00

ANOVA between pernum groups for incwageman:
  F-statistic: 162.9349, P-value: 0.0000e+00

ANOVA between pernum groups for hrwage:
  F-statistic: 0.3868, P-value: 9.7916e-01

ANOVA between pernum groups for perconexp:
  F-statistic: 94.7594, P-value: 3.5182e-274

ANOVA between relate groups for year:
  F-statistic: 702.1278, P-value: 0.0000e+00

ANOVA between relate groups for hwtsupp:
  F-statistic: 49.1631, P-value: 4.6179e-128

ANOVA between relate groups for age:
  F-statistic: 1351.8419, P-value: 0.0000e+00

ANOVA between relate groups for wkswork1:
  F-statistic: 125.6511, P-value: 0.0000e+00

ANOVA between relate groups for hrswork:
  F-statistic: 291.3813, P-value: 0.0000e+00

ANOVA between relate groups for uhrswork:
  F-statistic: 386.7862, P-value: 0.0000e+00

ANOVA between relate groups for incwage:
  F-statistic: 266.7526, P-value: 0.0000e+00

ANOVA between relate groups for inclongj:
  F-statistic: 270.1524, P-value: 0.0000e+00

ANOVA between relate groups for annhrs:
  F-statistic: 403.6027, P-value: 0.0000e+00

ANOVA between relate groups for incwageman:
  F-statistic: 266.7526, P-value: 0.0000e+00

ANOVA between relate groups for hrwage:
  F-statistic: 0.5608, P-value: 8.8659e-01

ANOVA between relate groups for perconexp:
  F-statistic: 678.8439, P-value: 0.0000e+00

T-test between sex groups for year:
  T-statistic: -17.9575, P-value: 4.5273e-72

T-test between sex groups for hwtsupp:
  T-statistic: 0.0140, P-value: 9.8887e-01

T-test between sex groups for age:
  T-statistic: -8.8645, P-value: 7.7192e-19

T-test between sex groups for wkswork1:
  T-statistic: 54.2894, P-value: 0.0000e+00

T-test between sex groups for hrswork:
  T-statistic: 146.4547, P-value: 0.0000e+00

T-test between sex groups for uhrswork:
  T-statistic: 169.1150, P-value: 0.0000e+00

T-test between sex groups for incwage:
  T-statistic: 107.2471, P-value: 0.0000e+00

T-test between sex groups for inclongj:
  T-statistic: 104.7092, P-value: 0.0000e+00

T-test between sex groups for annhrs:
  T-statistic: 158.7901, P-value: 0.0000e+00

T-test between sex groups for incwageman:
  T-statistic: 107.2471, P-value: 0.0000e+00

T-test between sex groups for hrwage:
  T-statistic: 3.8862, P-value: 1.0184e-04

T-test between sex groups for perconexp:
  T-statistic: -18.3952, P-value: 1.5600e-75

ANOVA between race groups for year:
  F-statistic: 1903.7462, P-value: 0.0000e+00

ANOVA between race groups for hwtsupp:
  F-statistic: 2289.7797, P-value: 0.0000e+00

ANOVA between race groups for age:
  F-statistic: 795.7481, P-value: 0.0000e+00

ANOVA between race groups for wkswork1:
  F-statistic: 46.4029, P-value: 5.6768e-30

ANOVA between race groups for hrswork:
  F-statistic: 192.1174, P-value: 1.7271e-124

ANOVA between race groups for uhrswork:
  F-statistic: 177.0741, P-value: 1.0012e-114

ANOVA between race groups for incwage:
  F-statistic: 1239.1492, P-value: 0.0000e+00

ANOVA between race groups for inclongj:
  F-statistic: 1421.6396, P-value: 0.0000e+00

ANOVA between race groups for annhrs:
  F-statistic: 235.2655, P-value: 1.6657e-152

ANOVA between race groups for incwageman:
  F-statistic: 1239.1492, P-value: 0.0000e+00

ANOVA between race groups for hrwage:
  F-statistic: 2.1392, P-value: 9.2976e-02

ANOVA between race groups for perconexp:
  F-statistic: 1880.6504, P-value: 0.0000e+00

ANOVA between marst groups for year:
  F-statistic: 427.8756, P-value: 0.0000e+00

ANOVA between marst groups for hwtsupp:
  F-statistic: 394.1933, P-value: 0.0000e+00

ANOVA between marst groups for age:
  F-statistic: 7434.6116, P-value: 0.0000e+00

ANOVA between marst groups for wkswork1:
  F-statistic: 79.5995, P-value: 8.9751e-84

ANOVA between marst groups for hrswork:
  F-statistic: 69.8295, P-value: 2.9217e-73

ANOVA between marst groups for uhrswork:
  F-statistic: 81.3933, P-value: 1.0522e-85

ANOVA between marst groups for incwage:
  F-statistic: 642.5480, P-value: 0.0000e+00

ANOVA between marst groups for inclongj:
  F-statistic: 764.1304, P-value: 0.0000e+00

ANOVA between marst groups for annhrs:
  F-statistic: 124.8536, P-value: 1.5257e-132

ANOVA between marst groups for incwageman:
  F-statistic: 642.5480, P-value: 0.0000e+00

ANOVA between marst groups for hrwage:
  F-statistic: 1.5007, P-value: 1.8581e-01

ANOVA between marst groups for perconexp:
  F-statistic: 432.3472, P-value: 0.0000e+00

ANOVA between nativity groups for year:
  F-statistic: 117.2646, P-value: 4.0696e-100

ANOVA between nativity groups for hwtsupp:
  F-statistic: 140.9868, P-value: 1.3356e-120

ANOVA between nativity groups for age:
  F-statistic: 562.0965, P-value: 0.0000e+00

ANOVA between nativity groups for wkswork1:
  F-statistic: 23.5891, P-value: 1.5749e-19

ANOVA between nativity groups for hrswork:
  F-statistic: 54.9055, P-value: 2.3708e-46

ANOVA between nativity groups for uhrswork:
  F-statistic: 69.2315, P-value: 1.1035e-58

ANOVA between nativity groups for incwage:
  F-statistic: 237.5717, P-value: 5.0741e-204

ANOVA between nativity groups for inclongj:
  F-statistic: 226.0107, P-value: 4.8906e-194

ANOVA between nativity groups for annhrs:
  F-statistic: 93.6717, P-value: 9.3652e-80

ANOVA between nativity groups for incwageman:
  F-statistic: 237.5717, P-value: 5.0741e-204

ANOVA between nativity groups for hrwage:
  F-statistic: 0.6309, P-value: 6.4044e-01

ANOVA between nativity groups for perconexp:
  F-statistic: 113.2172, P-value: 1.2694e-96

ANOVA between educ99 groups for year:
  F-statistic: 122.7262, P-value: 0.0000e+00

ANOVA between educ99 groups for hwtsupp:
  F-statistic: 34.1490, P-value: 5.0265e-93

ANOVA between educ99 groups for age:
  F-statistic: 92.7933, P-value: 4.1981e-268

ANOVA between educ99 groups for wkswork1:
  F-statistic: 49.3690, P-value: 3.0993e-138

ANOVA between educ99 groups for hrswork:
  F-statistic: 238.7396, P-value: 0.0000e+00

ANOVA between educ99 groups for uhrswork:
  F-statistic: 313.2606, P-value: 0.0000e+00

ANOVA between educ99 groups for incwage:
  F-statistic: 2879.0510, P-value: 0.0000e+00

ANOVA between educ99 groups for inclongj:
  F-statistic: 2767.9954, P-value: 0.0000e+00

ANOVA between educ99 groups for annhrs:
  F-statistic: 302.6370, P-value: 0.0000e+00

ANOVA between educ99 groups for incwageman:
  F-statistic: 2879.0510, P-value: 0.0000e+00

ANOVA between educ99 groups for hrwage:
  F-statistic: 2.4750, P-value: 1.6563e-03

ANOVA between educ99 groups for perconexp:
  F-statistic: 123.0279, P-value: 0.0000e+00

ANOVA between classwkr groups for year:
  F-statistic: 8070.4747, P-value: 0.0000e+00

ANOVA between classwkr groups for hwtsupp:
  F-statistic: 244.4952, P-value: 3.5917e-313

ANOVA between classwkr groups for age:
  F-statistic: 552.4017, P-value: 0.0000e+00

ANOVA between classwkr groups for wkswork1:
  F-statistic: 222.0294, P-value: 4.2049e-284

ANOVA between classwkr groups for hrswork:
  F-statistic: 56.1069, P-value: 1.2350e-69

ANOVA between classwkr groups for uhrswork:
  F-statistic: 72.2727, P-value: 1.8640e-90

ANOVA between classwkr groups for incwage:
  F-statistic: 768.7756, P-value: 0.0000e+00

ANOVA between classwkr groups for inclongj:
  F-statistic: nan, P-value: nan

ANOVA between classwkr groups for annhrs:
  F-statistic: 145.6128, P-value: 3.1854e-185

ANOVA between classwkr groups for incwageman:
  F-statistic: 768.7756, P-value: 0.0000e+00

ANOVA between classwkr groups for hrwage:
  F-statistic: 1.3061, P-value: 2.5031e-01

ANOVA between classwkr groups for perconexp:
  F-statistic: 8776.1377, P-value: 0.0000e+00

ANOVA between union groups for year:
  F-statistic: 846.7538, P-value: 0.0000e+00

ANOVA between union groups for hwtsupp:
  F-statistic: 306.2751, P-value: 1.4655e-198

/Users/shruti.kalaskar/Library/Python/3.9/lib/python/site-packages/scipy/stats/_stats_py.py:4102: DegenerateDataWarning: at least one input has length 0
  if _f_oneway_is_too_small(samples):

ANOVA between union groups for age:
  F-statistic: 104.9272, P-value: 6.8197e-68

ANOVA between union groups for wkswork1:
  F-statistic: 7.9603, P-value: 2.6465e-05

ANOVA between union groups for hrswork:
  F-statistic: 20.9128, P-value: 1.5325e-13

ANOVA between union groups for uhrswork:
  F-statistic: 19.5737, P-value: 1.1056e-12

ANOVA between union groups for incwage:
  F-statistic: 44.0718, P-value: 1.8274e-28

ANOVA between union groups for inclongj:
  F-statistic: 44.3817, P-value: 1.1522e-28

ANOVA between union groups for annhrs:
  F-statistic: 17.2817, P-value: 3.2385e-11

ANOVA between union groups for incwageman:
  F-statistic: 44.0718, P-value: 1.8274e-28

ANOVA between union groups for hrwage:
  F-statistic: 0.2892, P-value: 8.3323e-01

ANOVA between union groups for perconexp:
  F-statistic: 853.8269, P-value: 0.0000e+00

T-test between srcearn groups for year:
  T-statistic: 5.3442, P-value: 9.0869e-08

T-test between srcearn groups for hwtsupp:
  T-statistic: 0.6764, P-value: 4.9876e-01

T-test between srcearn groups for age:
  T-statistic: -1.7658, P-value: 7.7437e-02

T-test between srcearn groups for wkswork1:
  T-statistic: 0.4556, P-value: 6.4870e-01

T-test between srcearn groups for hrswork:
  T-statistic: 3.7706, P-value: 1.6288e-04

T-test between srcearn groups for uhrswork:
  T-statistic: 7.0142, P-value: 2.3179e-12

T-test between srcearn groups for incwage:
  T-statistic: 4.4026, P-value: 1.0699e-05

T-test between srcearn groups for inclongj:
  T-statistic: 6.1768, P-value: 6.5490e-10

T-test between srcearn groups for annhrs:
  T-statistic: 5.8734, P-value: 4.2748e-09

T-test between srcearn groups for incwageman:
  T-statistic: 4.4026, P-value: 1.0699e-05

T-test between srcearn groups for hrwage:
  T-statistic: 0.1672, P-value: 8.6722e-01

T-test between srcearn groups for perconexp:
  T-statistic: 5.2950, P-value: 1.1913e-07

T-test between hisp groups for year:
  T-statistic: -45.1283, P-value: 0.0000e+00

T-test between hisp groups for hwtsupp:
  T-statistic: 69.7868, P-value: 0.0000e+00

T-test between hisp groups for age:
  T-statistic: 48.0064, P-value: 0.0000e+00

T-test between hisp groups for wkswork1:
  T-statistic: 11.0374, P-value: 2.5511e-28

T-test between hisp groups for hrswork:
  T-statistic: 18.2649, P-value: 1.7140e-74

T-test between hisp groups for uhrswork:
  T-statistic: 16.9027, P-value: 4.5612e-64

T-test between hisp groups for incwage:
  T-statistic: 49.4244, P-value: 0.0000e+00

T-test between hisp groups for inclongj:
  T-statistic: 54.0324, P-value: 0.0000e+00

T-test between hisp groups for annhrs:
  T-statistic: 21.0779, P-value: 1.4639e-98

T-test between hisp groups for incwageman:
  T-statistic: 49.4244, P-value: 0.0000e+00

T-test between hisp groups for hrwage:
  T-statistic: 1.9181, P-value: 5.5100e-02

T-test between hisp groups for perconexp:
  T-statistic: -44.9114, P-value: 0.0000e+00

T-test between hdwfcoh groups for year:
  T-statistic: 4.1353, P-value: 3.5457e-05

T-test between hdwfcoh groups for hwtsupp:
  T-statistic: 9.2087, P-value: 3.3174e-20

T-test between hdwfcoh groups for age:
  T-statistic: -90.2130, P-value: 0.0000e+00

T-test between hdwfcoh groups for wkswork1:
  T-statistic: -24.4453, P-value: 7.3225e-132

T-test between hdwfcoh groups for hrswork:
  T-statistic: -20.6601, P-value: 9.0745e-95

T-test between hdwfcoh groups for uhrswork:
  T-statistic: -21.8669, P-value: 6.3454e-106

T-test between hdwfcoh groups for incwage:
  T-statistic: -53.7778, P-value: 0.0000e+00

T-test between hdwfcoh groups for inclongj:
  T-statistic: -54.5562, P-value: 0.0000e+00

T-test between hdwfcoh groups for annhrs:
  T-statistic: -31.3725, P-value: 9.7077e-216

T-test between hdwfcoh groups for incwageman:
  T-statistic: -53.7778, P-value: 0.0000e+00

T-test between hdwfcoh groups for hrwage:
  T-statistic: -2.3349, P-value: 1.9548e-02

T-test between hdwfcoh groups for perconexp:
  T-statistic: 4.6398, P-value: 3.4881e-06

ANOVA between industry groups for year:
  F-statistic: 478.9672, P-value: 0.0000e+00

ANOVA between industry groups for hwtsupp:
  F-statistic: 82.1316, P-value: 6.4907e-253

ANOVA between industry groups for age:
  F-statistic: 275.1853, P-value: 0.0000e+00

ANOVA between industry groups for wkswork1:
  F-statistic: 338.9161, P-value: 0.0000e+00

ANOVA between industry groups for hrswork:
  F-statistic: 589.2247, P-value: 0.0000e+00

ANOVA between industry groups for uhrswork:
  F-statistic: 763.3985, P-value: 0.0000e+00

ANOVA between industry groups for incwage:
  F-statistic: 806.9167, P-value: 0.0000e+00

ANOVA between industry groups for inclongj:
  F-statistic: 771.1682, P-value: 0.0000e+00

ANOVA between industry groups for annhrs:
  F-statistic: 714.8349, P-value: 0.0000e+00

ANOVA between industry groups for incwageman:
  F-statistic: 806.9167, P-value: 0.0000e+00

ANOVA between industry groups for hrwage:
  F-statistic: 1.0190, P-value: 4.3110e-01

ANOVA between industry groups for perconexp:
  F-statistic: 477.8103, P-value: 0.0000e+00

ANOVA between occupation groups for year:
  F-statistic: 318.7677, P-value: 0.0000e+00

ANOVA between occupation groups for hwtsupp:
  F-statistic: 40.7335, P-value: 2.6475e-167

ANOVA between occupation groups for age:
  F-statistic: 129.0331, P-value: 0.0000e+00

ANOVA between occupation groups for wkswork1:
  F-statistic: 339.6539, P-value: 0.0000e+00

ANOVA between occupation groups for hrswork:
  F-statistic: 1051.3506, P-value: 0.0000e+00

ANOVA between occupation groups for uhrswork:
  F-statistic: 1398.0767, P-value: 0.0000e+00

ANOVA between occupation groups for incwage:
  F-statistic: 2955.0781, P-value: 0.0000e+00

ANOVA between occupation groups for inclongj:
  F-statistic: 2767.4019, P-value: 0.0000e+00

ANOVA between occupation groups for annhrs:
  F-statistic: 1300.8417, P-value: 0.0000e+00

ANOVA between occupation groups for incwageman:
  F-statistic: 2955.0781, P-value: 0.0000e+00

ANOVA between occupation groups for hrwage:
  F-statistic: 3.3964, P-value: 2.1563e-07

ANOVA between occupation groups for perconexp:
  F-statistic: 318.4281, P-value: 0.0000e+00

ANOVA between education groups for year:
  F-statistic: 1608.6650, P-value: 0.0000e+00

ANOVA between education groups for hwtsupp:
  F-statistic: 60.4786, P-value: 4.4224e-39

ANOVA between education groups for age:
  F-statistic: 438.9772, P-value: 1.0932e-284

ANOVA between education groups for wkswork1:
  F-statistic: 219.4040, P-value: 3.3030e-142

ANOVA between education groups for hrswork:
  F-statistic: 1143.7052, P-value: 0.0000e+00

ANOVA between education groups for uhrswork:
  F-statistic: 1475.6936, P-value: 0.0000e+00

ANOVA between education groups for incwage:
  F-statistic: 14201.6672, P-value: 0.0000e+00

ANOVA between education groups for inclongj:
  F-statistic: 12079.9775, P-value: 0.0000e+00

ANOVA between education groups for annhrs:
  F-statistic: 1504.8927, P-value: 0.0000e+00

ANOVA between education groups for incwageman:
  F-statistic: 14201.6672, P-value: 0.0000e+00

ANOVA between education groups for hrwage:
  F-statistic: 15.3686, P-value: 5.3930e-10

ANOVA between education groups for perconexp:
  F-statistic: 1598.1870, P-value: 0.0000e+00

In [35]:
categorical_vs_categorical(new_data, categorical_cols)

Categorical vs. Categorical Hypothesis Testing:

Chi-square test between region and statefip:
  Chi-square Statistic: 1032861.0000, P-value: 0.0000e+00, Degrees of freedom: 150

Chi-square test between region and metro:
  Chi-square Statistic: 6877.0101, P-value: 0.0000e+00, Degrees of freedom: 9

Chi-square test between region and pernum:
  Chi-square Statistic: 958.5781, P-value: 1.2351e-173, Degrees of freedom: 42

Chi-square test between region and relate:
  Chi-square Statistic: 1307.7185, P-value: 4.8818e-249, Degrees of freedom: 39

Chi-square test between region and sex:
  Chi-square Statistic: 177.7504, P-value: 2.6993e-38, Degrees of freedom: 3

Chi-square test between region and race:
  Chi-square Statistic: 37357.6520, P-value: 0.0000e+00, Degrees of freedom: 9

Chi-square test between region and marst:
  Chi-square Statistic: 959.0809, P-value: 7.8955e-195, Degrees of freedom: 15

Chi-square test between region and nativity:
  Chi-square Statistic: 8234.9190, P-value: 0.0000e+00, Degrees of freedom: 12

Chi-square test between region and educ99:
  Chi-square Statistic: 4200.9033, P-value: 0.0000e+00, Degrees of freedom: 42

Chi-square test between region and classwkr:
  Chi-square Statistic: 1638.2613, P-value: 0.0000e+00, Degrees of freedom: 18

Chi-square test between region and union:
  Chi-square Statistic: 1026.1735, P-value: 3.9107e-215, Degrees of freedom: 9

Chi-square test between region and srcearn:
  Chi-square Statistic: 4.3172, P-value: 2.2919e-01, Degrees of freedom: 3

Chi-square test between region and hisp:
  Chi-square Statistic: 13161.6976, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between region and hdwfcoh:
  Chi-square Statistic: 788.2149, P-value: 1.5564e-170, Degrees of freedom: 3

Chi-square test between region and industry:
  Chi-square Statistic: 6957.7503, P-value: 0.0000e+00, Degrees of freedom: 45

Chi-square test between region and occupation:
  Chi-square Statistic: 3186.0253, P-value: 0.0000e+00, Degrees of freedom: 63

Chi-square test between region and education:
  Chi-square Statistic: 827.5639, P-value: 2.4747e-172, Degrees of freedom: 9

Chi-square test between statefip and metro:
  Chi-square Statistic: 157396.3883, P-value: 0.0000e+00, Degrees of freedom: 150

Chi-square test between statefip and pernum:
  Chi-square Statistic: 4437.4799, P-value: 0.0000e+00, Degrees of freedom: 700

Chi-square test between statefip and relate:
  Chi-square Statistic: 6743.1928, P-value: 0.0000e+00, Degrees of freedom: 650

Chi-square test between statefip and sex:
  Chi-square Statistic: 506.0933, P-value: 1.0726e-76, Degrees of freedom: 50

Chi-square test between statefip and race:
  Chi-square Statistic: 126651.7143, P-value: 0.0000e+00, Degrees of freedom: 150

Chi-square test between statefip and marst:
  Chi-square Statistic: 7812.1087, P-value: 0.0000e+00, Degrees of freedom: 250

Chi-square test between statefip and nativity:
  Chi-square Statistic: 33403.7101, P-value: 0.0000e+00, Degrees of freedom: 200

Chi-square test between statefip and educ99:
  Chi-square Statistic: 17673.6943, P-value: 0.0000e+00, Degrees of freedom: 700

Chi-square test between statefip and classwkr:
  Chi-square Statistic: 13143.1502, P-value: 0.0000e+00, Degrees of freedom: 300

Chi-square test between statefip and union:
  Chi-square Statistic: 2460.2928, P-value: 0.0000e+00, Degrees of freedom: 150

Chi-square test between statefip and srcearn:
  Chi-square Statistic: 93.0529, P-value: 2.1065e-04, Degrees of freedom: 50

Chi-square test between statefip and hisp:
  Chi-square Statistic: 51109.1570, P-value: 0.0000e+00, Degrees of freedom: 50

Chi-square test between statefip and hdwfcoh:
  Chi-square Statistic: 3236.6493, P-value: 0.0000e+00, Degrees of freedom: 50

Chi-square test between statefip and industry:
  Chi-square Statistic: 29309.4549, P-value: 0.0000e+00, Degrees of freedom: 750

Chi-square test between statefip and occupation:
  Chi-square Statistic: 16594.1757, P-value: 0.0000e+00, Degrees of freedom: 1050

Chi-square test between statefip and education:
  Chi-square Statistic: 6780.0083, P-value: 0.0000e+00, Degrees of freedom: 150

Chi-square test between metro and pernum:
  Chi-square Statistic: 1201.2167, P-value: 2.2882e-224, Degrees of freedom: 42

Chi-square test between metro and relate:
  Chi-square Statistic: 3598.2032, P-value: 0.0000e+00, Degrees of freedom: 39

Chi-square test between metro and sex:
  Chi-square Statistic: 62.0652, P-value: 2.1277e-13, Degrees of freedom: 3

Chi-square test between metro and race:
  Chi-square Statistic: 24833.2348, P-value: 0.0000e+00, Degrees of freedom: 9

Chi-square test between metro and marst:
  Chi-square Statistic: 8418.6630, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between metro and nativity:
  Chi-square Statistic: 15118.7197, P-value: 0.0000e+00, Degrees of freedom: 12

Chi-square test between metro and educ99:
  Chi-square Statistic: 6574.7408, P-value: 0.0000e+00, Degrees of freedom: 42

Chi-square test between metro and classwkr:
  Chi-square Statistic: 3745.7821, P-value: 0.0000e+00, Degrees of freedom: 18

Chi-square test between metro and union:
  Chi-square Statistic: 114.8513, P-value: 1.5080e-20, Degrees of freedom: 9

Chi-square test between metro and srcearn:
  Chi-square Statistic: 16.6162, P-value: 8.4752e-04, Degrees of freedom: 3

Chi-square test between metro and hisp:
  Chi-square Statistic: 9850.1195, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between metro and hdwfcoh:
  Chi-square Statistic: 1620.4087, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between metro and industry:
  Chi-square Statistic: 9032.3888, P-value: 0.0000e+00, Degrees of freedom: 45

Chi-square test between metro and occupation:
  Chi-square Statistic: 8947.5238, P-value: 0.0000e+00, Degrees of freedom: 63

Chi-square test between metro and education:
  Chi-square Statistic: 3934.5102, P-value: 0.0000e+00, Degrees of freedom: 9

Chi-square test between pernum and relate:
  Chi-square Statistic: 555160.3973, P-value: 0.0000e+00, Degrees of freedom: 182

Chi-square test between pernum and sex:
  Chi-square Statistic: 22120.4797, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between pernum and race:
  Chi-square Statistic: 6982.2839, P-value: 0.0000e+00, Degrees of freedom: 42

Chi-square test between pernum and marst:
  Chi-square Statistic: 61907.1298, P-value: 0.0000e+00, Degrees of freedom: 70

Chi-square test between pernum and nativity:
  Chi-square Statistic: 3414.1742, P-value: 0.0000e+00, Degrees of freedom: 56

Chi-square test between pernum and educ99:
  Chi-square Statistic: 5440.9861, P-value: 0.0000e+00, Degrees of freedom: 196

Chi-square test between pernum and classwkr:
  Chi-square Statistic: 1773.3438, P-value: 0.0000e+00, Degrees of freedom: 84

Chi-square test between pernum and union:
  Chi-square Statistic: 215.3798, P-value: 3.7702e-25, Degrees of freedom: 42

Chi-square test between pernum and srcearn:
  Chi-square Statistic: 1293.3024, P-value: 1.4917e-267, Degrees of freedom: 14

Chi-square test between pernum and hisp:
  Chi-square Statistic: 4076.4379, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between pernum and hdwfcoh:
  Chi-square Statistic: 162211.7375, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between pernum and industry:
  Chi-square Statistic: 7401.0934, P-value: 0.0000e+00, Degrees of freedom: 210

Chi-square test between pernum and occupation:
  Chi-square Statistic: 11588.2792, P-value: 0.0000e+00, Degrees of freedom: 294

Chi-square test between pernum and education:
  Chi-square Statistic: 2122.5084, P-value: 0.0000e+00, Degrees of freedom: 42

Chi-square test between relate and sex:
  Chi-square Statistic: 23954.7550, P-value: 0.0000e+00, Degrees of freedom: 13

Chi-square test between relate and race:
  Chi-square Statistic: 9141.4816, P-value: 0.0000e+00, Degrees of freedom: 39

Chi-square test between relate and marst:
  Chi-square Statistic: 136399.5037, P-value: 0.0000e+00, Degrees of freedom: 65

Chi-square test between relate and nativity:
  Chi-square Statistic: 5706.6744, P-value: 0.0000e+00, Degrees of freedom: 44

Chi-square test between relate and educ99:
  Chi-square Statistic: 7050.4708, P-value: 0.0000e+00, Degrees of freedom: 154

Chi-square test between relate and classwkr:
  Chi-square Statistic: 2296.3055, P-value: 0.0000e+00, Degrees of freedom: 78

Chi-square test between relate and union:
  Chi-square Statistic: 287.1246, P-value: 1.4910e-39, Degrees of freedom: 39

Chi-square test between relate and srcearn:
  Chi-square Statistic: 28.9430, P-value: 6.6689e-03, Degrees of freedom: 13

Chi-square test between relate and hisp:
  Chi-square Statistic: 4703.3588, P-value: 0.0000e+00, Degrees of freedom: 13

Chi-square test between relate and hdwfcoh:
  Chi-square Statistic: 344287.0000, P-value: 0.0000e+00, Degrees of freedom: 13

Chi-square test between relate and industry:
  Chi-square Statistic: 9426.3195, P-value: 0.0000e+00, Degrees of freedom: 195

Chi-square test between relate and occupation:
  Chi-square Statistic: 13898.3364, P-value: 0.0000e+00, Degrees of freedom: 273

Chi-square test between relate and education:
  Chi-square Statistic: 2400.3334, P-value: 0.0000e+00, Degrees of freedom: 39

Chi-square test between sex and race:
  Chi-square Statistic: 1247.7509, P-value: 3.1966e-270, Degrees of freedom: 3

Chi-square test between sex and marst:
  Chi-square Statistic: 6544.4444, P-value: 0.0000e+00, Degrees of freedom: 5

Chi-square test between sex and nativity:
  Chi-square Statistic: 637.3315, P-value: 1.2880e-136, Degrees of freedom: 4

Chi-square test between sex and educ99:
  Chi-square Statistic: 2391.0875, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between sex and classwkr:
  Chi-square Statistic: 3355.1559, P-value: 0.0000e+00, Degrees of freedom: 6

Chi-square test between sex and union:
  Chi-square Statistic: 169.7790, P-value: 1.4203e-36, Degrees of freedom: 3

Chi-square test between sex and srcearn:
  Chi-square Statistic: 14.8834, P-value: 1.1436e-04, Degrees of freedom: 1

Chi-square test between sex and hisp:
  Chi-square Statistic: 478.7851, P-value: 3.9273e-106, Degrees of freedom: 1

Chi-square test between sex and hdwfcoh:
  Chi-square Statistic: 75.9066, P-value: 2.9740e-18, Degrees of freedom: 1

Chi-square test between sex and industry:
  Chi-square Statistic: 54124.3045, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between sex and occupation:
  Chi-square Statistic: 93013.9053, P-value: 0.0000e+00, Degrees of freedom: 21

Chi-square test between sex and education:
  Chi-square Statistic: 99.7195, P-value: 1.7857e-21, Degrees of freedom: 3

Chi-square test between race and marst:
  Chi-square Statistic: 14126.0019, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between race and nativity:
  Chi-square Statistic: 112281.6342, P-value: 0.0000e+00, Degrees of freedom: 12

Chi-square test between race and educ99:
  Chi-square Statistic: 43780.1705, P-value: 0.0000e+00, Degrees of freedom: 42

Chi-square test between race and classwkr:
  Chi-square Statistic: 2981.9826, P-value: 0.0000e+00, Degrees of freedom: 18

Chi-square test between race and union:
  Chi-square Statistic: 1454.3078, P-value: 1.4230e-307, Degrees of freedom: 9

Chi-square test between race and srcearn:
  Chi-square Statistic: 5.2870, P-value: 1.5195e-01, Degrees of freedom: 3

Chi-square test between race and hisp:
  Chi-square Statistic: 344287.0000, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between race and hdwfcoh:
  Chi-square Statistic: 4728.9382, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between race and industry:
  Chi-square Statistic: 11439.2967, P-value: 0.0000e+00, Degrees of freedom: 45

Chi-square test between race and occupation:
  Chi-square Statistic: 25740.0583, P-value: 0.0000e+00, Degrees of freedom: 63

Chi-square test between race and education:
  Chi-square Statistic: 10656.2614, P-value: 0.0000e+00, Degrees of freedom: 9

Chi-square test between marst and nativity:
  Chi-square Statistic: 4661.3229, P-value: 0.0000e+00, Degrees of freedom: 20

Chi-square test between marst and educ99:
  Chi-square Statistic: 5999.7817, P-value: 0.0000e+00, Degrees of freedom: 70

Chi-square test between marst and classwkr:
  Chi-square Statistic: 1046.9391, P-value: 6.2502e-201, Degrees of freedom: 30

Chi-square test between marst and union:
  Chi-square Statistic: 251.2399, P-value: 6.8957e-45, Degrees of freedom: 15

Chi-square test between marst and srcearn:
  Chi-square Statistic: 7.4439, P-value: 1.8967e-01, Degrees of freedom: 5

Chi-square test between marst and hisp:
  Chi-square Statistic: 3043.8873, P-value: 0.0000e+00, Degrees of freedom: 5

Chi-square test between marst and hdwfcoh:
  Chi-square Statistic: 50516.4615, P-value: 0.0000e+00, Degrees of freedom: 5

Chi-square test between marst and industry:
  Chi-square Statistic: 5893.9978, P-value: 0.0000e+00, Degrees of freedom: 75

Chi-square test between marst and occupation:
  Chi-square Statistic: 8206.8106, P-value: 0.0000e+00, Degrees of freedom: 105

Chi-square test between marst and education:
  Chi-square Statistic: 3360.7307, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between nativity and educ99:
  Chi-square Statistic: 35390.5607, P-value: 0.0000e+00, Degrees of freedom: 56

Chi-square test between nativity and classwkr:
  Chi-square Statistic: 2734.6181, P-value: 0.0000e+00, Degrees of freedom: 16

Chi-square test between nativity and union:
  Chi-square Statistic: 662.4249, P-value: 4.8328e-134, Degrees of freedom: 12

Chi-square test between nativity and srcearn:
  Chi-square Statistic: 4.0191, P-value: 4.0343e-01, Degrees of freedom: 4

Chi-square test between nativity and hisp:
  Chi-square Statistic: 74589.8369, P-value: 0.0000e+00, Degrees of freedom: 4

Chi-square test between nativity and hdwfcoh:
  Chi-square Statistic: 2663.0618, P-value: 0.0000e+00, Degrees of freedom: 4

Chi-square test between nativity and industry:
  Chi-square Statistic: 7598.0141, P-value: 0.0000e+00, Degrees of freedom: 60

Chi-square test between nativity and occupation:
  Chi-square Statistic: 13451.9569, P-value: 0.0000e+00, Degrees of freedom: 84

Chi-square test between nativity and education:
  Chi-square Statistic: 805.3719, P-value: 1.4312e-168, Degrees of freedom: 8

Chi-square test between educ99 and classwkr:
  Chi-square Statistic: 15905.7762, P-value: 0.0000e+00, Degrees of freedom: 56

Chi-square test between educ99 and union:
  Chi-square Statistic: 678.0279, P-value: 1.0296e-115, Degrees of freedom: 42

Chi-square test between educ99 and srcearn:
  Chi-square Statistic: 7.8917, P-value: 8.9489e-01, Degrees of freedom: 14

Chi-square test between educ99 and hisp:
  Chi-square Statistic: 40006.9323, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between educ99 and hdwfcoh:
  Chi-square Statistic: 3410.4063, P-value: 0.0000e+00, Degrees of freedom: 14

Chi-square test between educ99 and industry:
  Chi-square Statistic: 62860.2203, P-value: 0.0000e+00, Degrees of freedom: 210

Chi-square test between educ99 and occupation:
  Chi-square Statistic: 270581.5756, P-value: 0.0000e+00, Degrees of freedom: 294

Chi-square test between educ99 and education:
  Chi-square Statistic: 513750.0000, P-value: 0.0000e+00, Degrees of freedom: 28

Chi-square test between classwkr and union:
  Chi-square Statistic: 7419.6157, P-value: 0.0000e+00, Degrees of freedom: 12

Chi-square test between classwkr and srcearn:
  Chi-square Statistic: 123138.0499, P-value: 0.0000e+00, Degrees of freedom: 4

Chi-square test between classwkr and hisp:
  Chi-square Statistic: 1400.7013, P-value: 1.7077e-299, Degrees of freedom: 6

Chi-square test between classwkr and hdwfcoh:
  Chi-square Statistic: 831.5071, P-value: 2.3948e-176, Degrees of freedom: 6

Chi-square test between classwkr and industry:
  Chi-square Statistic: 249455.4129, P-value: 0.0000e+00, Degrees of freedom: 90

Chi-square test between classwkr and occupation:
  Chi-square Statistic: 114945.0760, P-value: 0.0000e+00, Degrees of freedom: 126

Chi-square test between classwkr and education:
  Chi-square Statistic: 16344.7692, P-value: 0.0000e+00, Degrees of freedom: 18

Chi-square test between union and srcearn:
  Chi-square Statistic: 6.8063, P-value: 7.8334e-02, Degrees of freedom: 3

Chi-square test between union and hisp:
  Chi-square Statistic: 945.4424, P-value: 1.2303e-204, Degrees of freedom: 3

Chi-square test between union and hdwfcoh:
  Chi-square Statistic: 69.0129, P-value: 6.9440e-15, Degrees of freedom: 3

Chi-square test between union and industry:
  Chi-square Statistic: 7657.8404, P-value: 0.0000e+00, Degrees of freedom: 45

Chi-square test between union and occupation:
  Chi-square Statistic: 5718.5719, P-value: 0.0000e+00, Degrees of freedom: 63

Chi-square test between union and education:
  Chi-square Statistic: 348.1427, P-value: 1.5397e-69, Degrees of freedom: 9

Chi-square test between srcearn and hisp:
  Chi-square Statistic: 3.4992, P-value: 6.1397e-02, Degrees of freedom: 1

Chi-square test between srcearn and hdwfcoh:
  Chi-square Statistic: 1.3204, P-value: 2.5052e-01, Degrees of freedom: 1

Chi-square test between srcearn and industry:
  Chi-square Statistic: 171.0679, P-value: 1.4919e-28, Degrees of freedom: 15

Chi-square test between srcearn and occupation:
  Chi-square Statistic: 170.7402, P-value: 1.8529e-25, Degrees of freedom: 21

Chi-square test between srcearn and education:
  Chi-square Statistic: 1.4252, P-value: 6.9964e-01, Degrees of freedom: 3

Chi-square test between hisp and hdwfcoh:
  Chi-square Statistic: 2714.5528, P-value: 0.0000e+00, Degrees of freedom: 1

Chi-square test between hisp and industry:
  Chi-square Statistic: 7424.8216, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between hisp and occupation:
  Chi-square Statistic: 15651.8459, P-value: 0.0000e+00, Degrees of freedom: 21

Chi-square test between hisp and education:
  Chi-square Statistic: 7530.8933, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between hdwfcoh and industry:
  Chi-square Statistic: 2960.1442, P-value: 0.0000e+00, Degrees of freedom: 15

Chi-square test between hdwfcoh and occupation:
  Chi-square Statistic: 4185.6102, P-value: 0.0000e+00, Degrees of freedom: 21

Chi-square test between hdwfcoh and education:
  Chi-square Statistic: 1651.7693, P-value: 0.0000e+00, Degrees of freedom: 3

Chi-square test between industry and occupation:
  Chi-square Statistic: 1029004.5162, P-value: 0.0000e+00, Degrees of freedom: 315

Chi-square test between industry and education:
  Chi-square Statistic: 52473.1111, P-value: 0.0000e+00, Degrees of freedom: 45

Chi-square test between occupation and education:
  Chi-square Statistic: 150054.9535, P-value: 0.0000e+00, Degrees of freedom: 63